.addressManager {
  --width: 60rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: var(--width);
  margin-inline: auto;
  padding-block: var(--margin-xxl);
  background-color: var(--background-color);
}
.addressManager .goToAccount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: var(--margin-xxs);
  cursor: pointer;
}
.addressManager .goToAccount svg {
  color: var(--grey40);
  font-size: var(--fs-big);
  font-weight: 500;
}
.addressManager .goToAccount p {
  color: var(--grey40);
  font-size: var(--fs-p);
  font-weight: 500;
}
.addressManager h2 {
  font-size: var(--fs-h2);
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  text-align: center;
}
.addressManager button {
  margin-block: var(--margin-xxs);
  margin-top: var(--margin-xs);
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.addressManager button svg {
  color: var(--white);
  font-size: var(--fs-h5);
  margin-left: var(--margin-xs);
  height: 100%;
}
.addressManager button big {
  font-size: var(--fs-big);
  font-weight: 600;
  height: 100%;
}
.addressManager .addressFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-block: var(--margin-s);
  flex-wrap: wrap;
  gap: clamp(var(--margin-m), 3.5vw, var(--margin-xxl));
}
.addressManager .addressForm {
  position: absolute;
  top: clamp(5rem, 9.5vh, 7.5rem);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey90);
  box-shadow: 0px 0px 10px var(--grey30);
  padding-inline: clamp(var(--margin-m), 3vw, var(--margin-xl));
  padding-block: clamp(var(--margin-xs), 3vw, var(--margin-m));
  padding-bottom: clamp(var(--margin-m), 3vw, var(--margin-xl));
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: clamp(19rem, 95vw, 30rem);
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1001;
  transition: var(--transition-in);
}
.addressManager .addressForm div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.addressManager .addressForm div .closeAddressFormBtn {
  border: none;
  color: var(--grey90);
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: 0;
}
.addressManager .addressForm div .closeAddressFormBtn svg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(var(--fs-h3), 3vw, var(--fs-h2));
  color: var(--grey10);
  margin: 0;
}
.addressManager .addressForm p {
  font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
}
.addressManager .addressForm input {
  padding-left: var(--margin-xxs);
  font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  margin-bottom: clamp(var(--margin-xs), 2vw, var(--margin-s));
  color: var(--grey30);
}
.addressManager .addressForm button {
  margin: auto;
  padding-block: var(--margin-xxs);
  padding-inline: clamp(var(--margin-xs), 3vw, var(--margin-m));
  font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
}

.overlayAddressForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  visibility: hidden;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  transition: var(--transition-out);
  z-index: 997;
}

.overlayAddressForm.show {
  opacity: 1;
  visibility: visible;
  transition: var(--transition-in);
}

@media (max-width: 1024px) {
  .addressManager {
    width: clamp(20rem, 95vw, 60rem);
  }
  .addressManager h2 {
    font-size: clamp(var(--fs-h4), 5vw, var(--fs-h2));
  }
  .addressManager .btn big {
    font-size: var(--fs-p);
  }
  .addressManager .btn svg {
    font-size: var(--fs-big);
  }
  .addressManager .addressFlex {
    align-items: start;
    gap: var(--margin-m);
  }
}
@media (max-width: 768px) {
  .addressManager .goToAccount {
    margin: 0;
  }
  .addressManager .btn big {
    font-size: clamp(var(--fs-small-ui), 3vw, var(--fs-p));
  }
  .addressManager .addressFlex {
    flex-direction: column;
    gap: var(--margin-l);
  }
}/*# sourceMappingURL=addressManager.css.map */