.adminProductCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // height: 32rem;
  // width: 20rem;

  padding: clamp(var(--margin-xxs), 3vw, var(--margin-m));

  background-color: var(--secondary-color);

  .adminProductImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    // height: auto;
    // width: 100%;

    height: clamp(15rem, 100vw, 25rem);

    overflow: hidden;

    .adminProductImg {
      height: 100%;
      width: auto;
    }
  }

  .adminProductName {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;

    width: 100%;

    h1 {
      font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
      text-align: left;

      margin-top: var(--margin-xs);
    }
  }

  .editDeleteBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    flex-direction: row;

    margin-block: var(--margin-xxs);

    gap: clamp(var(--margin-s), 5vw, var(--margin-l));

    .editProductBtn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--accent-color);
      border: 0.5px solid var(--accent-color);
      transition: var(--transition-in);
      cursor: pointer;

      &:hover {
        background-color: var(--black);
        transition: var(--transition-out);
      }

      a {
        color: var(--white);
        font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
      }
    }

    .deleteProductBtn {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: var(--ff);
      font-size: clamp(var(--fs-p), 3vw, var(--fs-big));

      background-color: var(--red);
      border: 0.5px solid var(--red);

      color: var(--white);

      cursor: pointer;

      transition: all 0.1s ease-out;

      &:hover {
        background-color: var(--red);

        font-weight: 500;
        letter-spacing: 0.5px;

        transition: all 0.1s ease-in;
      }
    }
  }
}
