.checkoutItem {
  // height: 6.5rem !important;

  display: flex;
  // justify-content: center;
  align-items: center;

  flex-direction: row;

  width: 100%;

  gap: var(--margin-s);

  .checkoutItemImg {
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: auto;
    }
  }

  .checkoutItemNameQuantity {
    height: 100%;
    margin-bottom: auto;

    p {
      font-size: var(--fs-p);
    }

    small {
      font-size: var(--fs-small-ui);
      font-weight: 600;
    }
  }

  .checkoutItemPrice {
    height: 100%;
    margin-left: auto;
    margin-bottom: auto;

    p {
      font-size: var(--fs-p);
      font-weight: 600;
    }
  }
}

@media (max-width: 640px) {
  .checkoutItem {
    .checkoutItemImg {
      height: clamp(4rem, 20vw, 6.5rem);
    }
  }
}

@media (max-width: 475px) {
  .checkoutItem {
    .checkoutItemPrice {
      p {
        text-wrap: nowrap;
      }
    }
  }
}
