.addressCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  height: fit-content;
  width: 24.5rem;

  flex: 1;

  h2 {
    padding-bottom: 0rem;
    margin-bottom: var(--margin-xs);
    font: var(--h4ui);

    border-bottom: 0.5px solid var(--grey70);
  }

  .addressInfo {
    width: 100%;
  }

  .addressBtns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    gap: var(--margin-m);

    margin-top: var(--margin-xs);

    button {
      margin: 0;
      height: fit-content;

      p {
        font: var(--p);
        color: var(--accent-color);
        transition: var(--transition-out);
      }

      &:hover {
        p {
          color: var(--text-color);
          transition: var(--transition-in);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .addressCard {
    min-height: 25vw;
    // justify-content: space-between;

    h2 {
      font-size: 2vw;
      margin-bottom: 0.75vw;
    }

    .addressInfo {
      margin-bottom: auto;

      p {
        font-size: 1.5vw;
      }
    }

    .addressBtns {
      margin-top: 1vw;
      gap: 1.5vw;

      button {
        padding: 0vw 0.5vw;

        p {
          font-size: 1.6vw;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .addressCard {
    min-height: 20vw;
    // justify-content: space-between;

    h2 {
      font-size: 2vw;
      margin-bottom: 0.75vw;
    }

    .addressInfo {
      margin-bottom: auto;

      p {
        font-size: 1.5vw;
      }
    }

    .addressBtns {
      margin-top: 1vw;
      gap: 1.5vw;

      button {
        padding: 0vw 0.5vw;

        p {
          font-size: 1.6vw;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .addressCard {
    min-height: 20vw;
    min-width: 45vw;
    // justify-content: space-between;

    h2 {
      font-size: 2vw;
      margin-bottom: 0.75vw;
    }

    .addressInfo {
      margin-bottom: auto;

      p {
        font-size: 1.5vw;
      }
    }

    .addressBtns {
      margin-top: 1vw;
      gap: 1.5vw;

      button {
        padding: 0vw 0.5vw;

        p {
          font-size: 1.6vw;
        }
      }
    }
  }
}
