.addressCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  height: fit-content;
  min-width: 30%;

  flex: 1;

  h2 {
    // margin-bottom: clamp(var(--margin-xxs), 3.5vw, var(--margin-xs));
    // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));

    margin-bottom: var(--margin-xxs);

    padding-bottom: var(--margin-xxs);
    font-size: var(--fs-p);

    font-weight: 600;

    border-bottom: 1px solid var(--grey80);
  }

  .addressInfo {
    width: 100%;

    p {
      // font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
      font-size: var(--fs-p);
    }
  }

  .addressBtns {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    gap: var(--margin-l);

    // margin-top: clamp(var(--margin-xxs), 3.5vw, var(--margin-xs));
    margin-top: var(--margin-xxs);

    button {
      margin: 0;
      padding: 0;
      height: fit-content;

      p {
        // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
        color: var(--accent-color);
        transition: var(--transition-out);

        text-wrap: nowrap;
      }

      &:hover {
        p {
          color: var(--text-color);
          transition: var(--transition-in);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .addressCard {
    min-width: 0;
    width: 100%;

    .addressInfo {
      p {
      }
    }
  }
}
