.collections {
  background-color: var(--background-color);

  padding-inline: var(--margin-xxl);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-block: var(--margin-xl);
    font-size: var(--fs-h3);
    font-weight: 700;
    width: 100%;
  }

  .collectionTiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 90%;
    flex-wrap: wrap;

    gap: var(--margin-xl);
    margin-bottom: var(--margin-xxl);
  }
}

@media (max-width: 1024px) {
  .collections {
    padding-inline: 0;
    .collectionTiles {
      width: 100%;
      gap: var(--margin-m);
    }
  }
}

@media (max-width: 768px) {
  .collections {
    h1 {
      font-size: clamp(var(--fs-big), 4vw, var(--fs-h4));
    }

    .collectionTiles {
      // gap: clamp(var(--margin-xs), 2vw, var(--margin-m));
    }
  }
}
