.collections {
  background-color: var(--primary-color);

  padding: var(--margin-xxl);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: var(--margin-xxl);
    width: 100%;
  }

  .collectionTiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 90%;
    flex-wrap: wrap;

    gap: var(--margin-xxl);
  }
}

@media (max-width: 1536px) {
  .collections {
    padding: 3vw;

    h1 {
      font-size: 3vw;
      margin-bottom: 3vw;
    }
    .collectionTiles {
      width: 100%;

      gap: 3vw;
    }
  }
}
