.account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  margin-inline: auto;
  flex-direction: column;

  // padding-block: clamp(var(--margin-m), 5vw, var(--margin-xxl));

  // gap: clamp(var(--margin-s), 5vw, var(--margin-m));
  padding-block: var(--margin-xxl);
  gap: var(--margin-m);

  .accountToolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 60rem;

    .logOutBtn {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      width: 100%;

      margin-bottom: var(--margin-xxs);

      button {
        background-color: transparent;
        border: none;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100%;
        font-family: var(--ff);

        color: var(--grey40);

        font-size: var(--fs-p);
        font-weight: 500;

        cursor: pointer;
        transition: var(--transition-out);

        svg {
          display: flex;
          align-items: center;

          font-size: var(--fs-big);
        }

        &:hover {
          color: var(--text-color);
          transition: var(--transition-in);
        }
      }
    }

    h2 {
      display: flex;

      align-items: center;

      width: 100%;
      color: var(--text-color);

      font-size: var(--fs-h2);
      font-weight: 700;
    }

    h4 {
      display: flex;
      align-items: center;

      width: 100%;
      color: var(--grey30);

      // font-size: clamp(var(--fs-big), 2.5vw, var(--fs-h4));
      font-size: var(--fs-h5);

      font-weight: 600;
    }
  }

  .accountInfo {
    display: flex;
    justify-content: space-between;

    flex-direction: row;

    gap: var(--margin-xxl);

    width: 60rem;

    .orders {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 60%;
      min-height: 15rem;

      max-height: 30rem;

      .ordersList {
        overflow-y: scroll;
        width: 100%;
        padding-right: var(--margin-xs);

        /* Define the scrollbar styling */
        &::-webkit-scrollbar {
          width: 8px;
          transition: opacity 0.5s ease; /* Smooth fade */
          opacity: 0; /* Hide by default */
        }

        /* When the container is hovered, show the scrollbar */
        &:hover::-webkit-scrollbar {
          opacity: 1;
        }

        /* Customize the track (optional) */
        &::-webkit-scrollbar-track {
          background: var(--background);
          border-radius: 4px;
        }

        /* Customize the thumb */
        &::-webkit-scrollbar-thumb {
          background: var(--grey90);
          border-radius: 4px;
        }

        /* Thumb hover state */
        &::-webkit-scrollbar-thumb:hover {
          background: var(--grey70);
        }
      }

      big {
        width: 100%;
        font-weight: 400;

        border-bottom: 1px solid var(--grey70);
      }

      .noOrdersMessage {
        margin-block: var(--margin-m);
      }

      button {
      }
    }

    .address {
      display: flex;
      justify-self: flex-start;
      // align-items: center;
      flex-direction: column;
      width: 40%;
      min-height: 15rem;

      big {
        width: 100%;
        font-weight: 400;

        border-bottom: 1px solid var(--grey70);
        margin-bottom: var(--margin-xxs);
        // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
      }

      .usernameAddress {
        font-weight: 500;
      }

      .addressList {
        font-size: var(--fs-p);
      }

      .btn {
        width: fit-content;

        margin-top: var(--margin-xs);

        font-weight: 600;
      }
    }
  }
}

@media (max-width: 1024px) {
  .account {
    .accountToolbar {
      width: clamp(45rem, 95vw, 60rem);
      margin-inline: auto;
    }

    .accountInfo {
      width: clamp(45rem, 95vw, 60rem);
      margin-inline: auto;

      gap: var(--margin-xl);
    }
  }
}

@media (max-width: 768px) {
  .account {
    padding-block: clamp(var(--margin-m), 5vw, var(--margin-xl));
    .accountToolbar {
      width: clamp(19rem, 96vw, 46rem);
      padding-inline: var(--margin-xxs);

      h2 {
        font-size: clamp(var(--fs-h4), 5vw, var(--fs-h2));
      }

      h4 {
        font-size: clamp(var(--fs-p), 2.5vw, var(--fs-h4));
      }
    }

    .accountInfo {
      flex-direction: column;

      width: clamp(19rem, 96vw, 46rem);
      padding-inline: var(--margin-xxs);

      gap: var(--margin-m);

      .orders {
        width: 100%;

        max-height: 30rem;

        .ordersList {
          overflow-y: scroll;
          width: 100%;
          padding-right: var(--margin-xs);

          /* Define the scrollbar styling */
          &::-webkit-scrollbar {
            width: 8px;
            transition: opacity 0.5s ease; /* Smooth fade */
            opacity: 0; /* Hide by default */
          }

          /* When the container is hovered, show the scrollbar */
          &:hover::-webkit-scrollbar {
            opacity: 1;
          }

          /* Customize the track (optional) */
          &::-webkit-scrollbar-track {
            background: var(--background);
            border-radius: 4px;
          }

          /* Customize the thumb */
          &::-webkit-scrollbar-thumb {
            background: var(--grey90);
            border-radius: 4px;
          }

          /* Thumb hover state */
          &::-webkit-scrollbar-thumb:hover {
            background: var(--grey70);
          }
        }
      }

      .address {
        width: 100%;
        min-height: fit-content;

        .addressList {
          flex-direction: column;
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .account {
    .accountInfo {
      .address {
        button {
          padding-block: var(--margin-xxs);
          padding-inline: var(--margin-s);
          a {
            font-size: var(--fs-small-ui);
            font-weight: 600;
          }
        }
      }
    }
  }
}
