.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // padding-inline: clamp(var(--margin-l), 3vw + 0.5rem, var(--margin-xxl));
  // padding-bottom: clamp(var(--margin-m), 1.5vw + 0.5rem, var(--margin-xxl));

  padding-bottom: var(--margin-xxl);

  // background-color: var(--grey90);

  width: 60rem;

  margin-inline: auto;

  &.empty {
    padding: clamp(var(--margin-m), 1.5vw + 0.5rem, var(--margin-xxl));
    gap: clamp(var(--margin-l), 3vw, var(--margin-xxl));
    padding-top: clamp(var(--margin-m), 5vw, 5rem);
    padding-bottom: clamp(var(--margin-m), 15vw, 12rem);

    h2 {
      font-size: clamp(var(--fs-big), 2vw + 0.5rem, var(--fs-h5));
      padding: 0;
      margin: 0;
    }

    h5 {
      padding: 0;
      margin: 0;
      font-size: clamp(var(--fs-big), 2vw + 0.5rem, var(--fs-h5));
      font-weight: 400;
    }

    button {
      padding-block: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
      padding-inline: clamp(var(--margin-m), 2vw, var(--margin-l));

      big {
        // font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
        font-size: var(--fs-p);
        font-weight: 600;
      }
    }
  }

  h2 {
    width: 100%;
    text-align: center;

    margin-block: var(--margin-xl);
    margin-bottom: var(--margin-m);
    font-size: var(--fs-h3);
    font-weight: 700;
    width: 100%;
  }

  p {
    display: flex;
    width: 100%;
    justify-content: center;

    font-size: var(--fs-p);

    color: var(--grey30);
    margin-bottom: var(--margin-xs);
  }

  .cartProducts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60rem;

    .cartHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      border-bottom: 1px solid var(--grey80);
      padding-bottom: var(--margin-xxs);

      font-size: var(--fs-big);

      div:nth-child(1) {
        width: 60%;
      }

      div:nth-child(2) {
        width: 20%;
        text-align: center;
      }

      div:nth-child(3) {
        width: 20%;
        text-align: right;
      }
    }

    .cartProductList {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      big {
        margin-top: var(--margin-l);
      }
    }

    .cartDetails {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      flex-direction: column;

      width: 100%;

      // margin-top: clamp(var(--margin-xxs), 3vw, var(--margin-s));
      margin-top: var(--margin-s);

      big {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;

        // font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
        font-size: var(--fs-big);
        color: var(--text-color);

        font-weight: 600;

        width: 100%;
        text-align: right;
      }

      small {
        // font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
        font: var(--fsp);
        font-variant: var(--fs-p);
        color: var(--grey20);

        font-weight: 400;

        width: 100%;
        text-align: right;

        margin-bottom: var(--margin-xs);
      }

      .orderNow {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 100%;

        .btn {
          a {
            color: var(--white);
            // font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
            font-size: var(--fs-p);
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cart {
    width: clamp(20rem, 95vw, 60rem);

    p {
      // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
      padding-bottom: clamp(var(--margin-xxs), 1.5vw + 0.5rem, var(--margin-s));
    }

    .cartProducts {
      width: 100%;

      .cartHeader {
        // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
        div:nth-child(1) {
          width: 60%;
        }

        div:nth-child(2) {
          width: 25%;
          text-align: center;
        }

        div:nth-child(3) {
          width: 15%;
          text-align: right;
        }
      }

      .cartDetails {
        big {
          // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
        }

        small {
          // font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
        }

        .orderNow {
          .btn {
            // padding-block: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
            // padding-inline: clamp(var(--margin-s), 2vw, var(--margin-l));

            a {
              // font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .cart {
    .cartProducts {
      .cartHeader {
        display: none;
      }

      .cartDetails {
        border-top: 1px solid var(--grey70);
        padding-top: var(--margin-s);

        big {
          justify-content: flex-start;
          font-size: var(--fs-p);
        }

        small {
          text-align: left;
          font-size: var(--fs-small-ui);
        }

        .orderNow {
          .btn {
            width: 100%;

            margin-inline: auto;

            a {
              font-size: var(--fs-small-ui);
            }
          }
        }
      }
    }
  }
}
