.adminProductList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  padding: clamp(var(--margin-m), 5vw, var(--margin-xxl));

  gap: clamp(var(--margin-xs), 5vw, var(--margin-m));
}
