.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  height: fit-content;

  border-radius: 0.5rem;

  cursor: pointer;

  background-color: var(--secondary-color);

  padding: var(--margin-xs);
  transition: var(--transition-out);

  &:hover {
    background-color: var(--secondary-hover);
    transition: var(--transition-in);
  }

  .orderItemImg {
    height: 7.5rem;
    border-radius: 0.5rem;

    overflow: hidden;

    min-width: fit-content;

    img {
      height: 100%;
      width: auto;
    }
  }

  .orderItemInfo {
    margin-left: var(--margin-s);
    height: 7.5rem;
    width: 100%;

    big {
      font: var(--big);
      font-weight: 500;
    }
  }

  .orderItemPriceAndQuantity {
    display: flex;
    justify-content: flex-start;
    align-items: end;

    flex-direction: column;

    width: 100%;
    height: 7.5rem;

    padding-right: var(--margin-xs);

    big {
      width: 100%;
      text-align: right;

      font-weight: 400;
    }

    p {
      width: 100%;
      text-align: right;
    }
  }
}

@media (max-width: 1024px) {
  .orderItem {
    .orderItemImg {
      height: 12vw;
    }

    .orderItemInfo {
      width: 70%;
      big {
        font-size: 2vw;
      }
    }

    .orderItemPriceAndQuantity {
      width: 30%;
    }
  }
}
