.orderItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  height: fit-content;

  border-radius: 0.5rem;

  cursor: pointer;

  background-color: var(--secondary-color);

  padding: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
  transition: var(--transition-out);

  &:hover {
    background-color: var(--secondary-hover);
    transition: var(--transition-in);
  }

  .orderItemImg {
    height: clamp(5rem, 15vw, 7.5rem);
    border-radius: 0.5rem;

    overflow: hidden;

    min-width: fit-content;

    img {
      height: 100%;
      width: auto;
    }
  }

  .orderItemInfo {
    margin-left: var(--margin-s);
    height: clamp(5rem, 15vw, 7.5rem);
    width: 100%;

    big {
      font-size: clamp(var(--fs-small), 2.5vw, var(--fs-big));
      font-weight: 600;
    }
  }

  .orderItemPriceAndQuantity {
    display: flex;
    justify-content: flex-start;
    align-items: end;

    flex-direction: column;

    min-width: 5rem;
    height: clamp(5rem, 15vw, 7.5rem);

    padding-right: var(--margin-xs);

    big {
      min-width: fit-content;
      text-align: right;
      font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));

      font-weight: 600;
    }

    p {
      width: 100%;
      text-align: right;

      font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
    }
  }
}

// @media (max-width: 1024px) {
//   .orderItem {
//     .orderItemImg {
//       height: 12vw;
//     }

//     .orderItemInfo {
//       width: 70%;
//       big {
//         font-size: 2vw;
//       }
//     }

//     .orderItemPriceAndQuantity {
//       width: 30%;
//     }
//   }
// }
