.orderItem {
  --orderItem-height: clamp(5rem, 15vw, 7.5rem);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  height: fit-content;

  border-radius: 0.75rem;

  cursor: pointer;

  background-color: var(--grey90);

  padding: var(--margin-xs);
  transition: var(--transition-out);

  &:hover {
    background-color: var(--secondary-hover);
    transition: var(--transition-in);
  }

  .orderItemImg {
    height: var(--orderItem-height);
    aspect-ratio: 3/4;

    border-radius: 0.5rem;

    overflow: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }

  .orderItemInfo {
    margin-left: var(--margin-s);
    height: var(--orderItem-height);

    big {
      font-size: var(--fs-p);
      font-weight: 600;
    }
  }

  .orderItemPriceAndQuantity {
    display: flex;
    justify-content: flex-start;
    align-items: end;

    flex-direction: column;

    margin-left: auto;

    min-width: 5rem;
    height: var(--orderItem-height);

    padding-right: var(--margin-xs);

    big {
      min-width: fit-content;
      text-align: right;
      font-size: var(--fs-p);

      font-weight: 600;
    }

    p {
      width: 100%;
      text-align: right;

      font-size: var(--fs-p);
    }
  }
}

@media (max-width: 640px) {
  .orderItem {
    --orderItem-height: 7.5rem;

    .orderItemImg {
      min-width: 5.625rem;
    }

    .orderItemInfo {
      big {
        font-size: clamp(var(--fs-small-ui), 3.5vw, var(--fs-p));
      }
    }

    .orderItemPriceAndQuantity {
      big {
        font-size: clamp(var(--fs-small-ui), 3.5vw, var(--fs-p));
      }

      p {
        font-size: clamp(var(--fs-small-ui), 3.5vw, var(--fs-p));
      }
    }
  }
}
