.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 100%;

  background-color: var(--grey85);

  padding: var(--margin-l);

  .featureWrapper {
    min-height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 20rem;

    flex: 1;

    svg {
      font-size: var(--fs-h1);
      color: var(--grey30);
      margin-bottom: var(--margin-m);
      margin-top: auto;
    }

    img {
      height: var(--fs-h1);
      margin-bottom: var(--margin-m);
      margin-top: auto;
    }

    h3 {
      font-size: var(--fs-big);
      font-weight: 600;
      color: var(--grey30);

      text-wrap: wrap;

      margin-bottom: auto;
    }
  }
}

.features-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .features {
    justify-content: center;
    padding-block: clamp(var(--margin-xl), 4vw, var(--margin-xxl));

    .featureWrapper {
      min-width: fit-content;
      min-height: fit-content;

      h3 {
        font-size: var(--fs-big-ui);
        color: var(--grey30);
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 640px) {
  .features {
    display: none;
  }

  .features-mobile {
    display: flex;

    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    max-width: 100vw;

    background-color: var(--grey85);
    padding-block: clamp(var(--margin-m), 6vw, var(--margin-xl));

    .featureWrapper {
      min-height: fit-content;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      min-width: 100%;

      flex: 1;

      transition: var(--transition-in);
      background-color: transparent;

      svg {
        margin-top: auto;
        font-size: var(--fs-h1);
        color: var(--grey30);
      }

      img {
        margin-top: auto;
      }

      h3 {
        font-weight: 600;
        font-size: var(--fs-big);
        color: var(--grey30);

        margin-top: var(--margin-s);

        margin-bottom: auto;
      }
    }

    .carousel-root {
      width: 100%;
    }

    .slide {
      .featureWrapper {
        img {
          margin-top: auto;
          height: var(--fs-h1);
          width: auto;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
