.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  // border-top: 1px solid var(--grey70);
  width: 100%;
  height: 17.5rem;

  background-color: var(--secondary-color);

  padding: var(--margin-xl);

  div {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    flex: 1;

    svg {
      font-size: 4rem;
      color: var(--text-color);
      margin-bottom: var(--margin-m);
    }

    img {
      height: 4rem;
      margin-bottom: var(--margin-m);
    }

    h3 {
      font-size: 1.25rem;
      color: var(--text-color);
    }
  }
}

@media (max-width: 1024px) {
  .features {
    height: 12.5rem;
    padding: 1rem 1rem;

    div {
      width: 33%;

      svg {
        font-size: 3.5rem;
      }

      img {
        height: 3.5rem;
      }

      h3 {
        font-size: 1.1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .features {
    height: 12.5rem;
    padding: 1rem 1rem;

    justify-content: space-between;

    div {
      width: 33%;

      svg {
        font-size: 3rem;
      }

      img {
        height: 3rem;
      }

      h3 {
        font-size: 1rem;
        width: 100%;

        text-align: center;
      }
    }
  }
}

@media (max-width: 640px) {
  .features {
    height: fit-content;
    div {
      // padding-top: min(7.5vw, 2rem);
      padding: 2vw 0rem;
      justify-content: flex-start;

      svg {
        font-size: 10vw;
      }

      h3 {
        font-size: 3vw;
      }

      img {
        height: 10vw;
      }
    }
  }
}

@media (max-width: 475px) {
  .features {
    height: fit-content;
    div {
      // padding-top: min(7.5vw, 2rem);
      padding: 2vw 0rem;

      justify-content: flex-start;

      svg {
        font-size: 10vw;
      }

      h3 {
        font-size: 3vw;
      }

      img {
        height: 10vw;
      }
    }
  }
}
