.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  // border-top: 0.5px solid var(--grey50);
  // border-bottom: 0.5px solid var(--grey50);
  width: 100%;

  background-color: var(--secondary-color);

  padding: var(--margin-l);

  div {
    min-height: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 20rem;

    flex: 1;

    svg {
      font-size: var(--fs-h1);
      color: var(--text-color);
      margin-bottom: var(--margin-m);
      margin-top: auto;
    }

    img {
      height: var(--fs-h1);
      margin-bottom: var(--margin-m);
      margin-top: auto;
    }

    h3 {
      font-size: var(--fs-h4-ui);
      font-weight: 600;
      color: var(--text-color);

      margin-bottom: auto;
    }
  }
}

.features-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .features {
    // height: 12.5rem;
    // padding: 1rem 1rem;
    justify-content: center;
    padding-block: clamp(var(--margin-xl), 4vw + 0.5rem, var(--margin-xxl));

    div {
      min-width: fit-content;
      min-height: fit-content;

      svg {
        // font-size: 3.5rem;
        font-size: clamp(var(--fs-h4), 4vw + 0.5rem, var(--fs-h1));
        margin-bottom: clamp(
          var(--margin-xxs),
          1.5vw + 0.5rem,
          var(--margin-s)
        );
      }

      img {
        // height: 3.5rem;
        height: clamp(var(--fs-h4), 4vw + 0.5rem, var(--fs-h1));
        margin-bottom: clamp(
          var(--margin-xxs),
          1.5vw + 0.5rem,
          var(--margin-s)
        );
      }

      h3 {
        // font-size: 1.1rem;
        font-size: clamp(var(--fs-p), 1.5vw + 0.5rem, var(--fs-big));
        color: var(--grey10);
        // font-weight: 500;
      }
    }
  }
}

@media (max-width: 768px) {
  // .features {
  //   height: 12.5rem;
  //   padding: 1rem 1rem;

  //   justify-content: space-between;

  //   div {
  //     width: 33%;

  //     svg {
  //       // font-size: 3rem;
  //     }

  //     img {
  //       // height: 3rem;
  //     }

  //     h3 {
  //       // font-size: 1rem;
  //       // width: 100%;

  //       // text-align: center;
  //     }
  //   }
  // }
}

@media (max-width: 640px) {
  // .features {
  //   height: fit-content;
  //   div {
  //     // padding-top: min(7.5vw, 2rem);
  //     padding: 2vw 0rem;
  //     justify-content: flex-start;

  //     svg {
  //       font-size: 10vw;
  //     }

  //     h3 {
  //       font-size: 3vw;
  //     }

  //     img {
  //       height: 10vw;
  //     }
  //   }
  // }

  .features {
    display: none;
  }

  .features-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    // border-top: 0.5px solid var(--grey50);
    // border-bottom: 0.5px solid var(--grey50);
    width: 100%;

    background-color: var(--secondary-color);
    padding-block: clamp(var(--margin-xl), 4vw + 0.5rem, var(--margin-xxl));

    div {
      min-height: fit-content;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      min-width: 100%;

      flex: 1;

      svg {
        color: var(--text-color);
        margin-top: auto;
        font-size: clamp(var(--fs-h2), 4vw + 0.5rem, var(--fs-h1));
        margin-bottom: clamp(
          var(--margin-xxs),
          1.5vw + 0.5rem,
          var(--margin-s)
        );
      }

      img {
        margin-top: auto;
        height: clamp(var(--fs-h2), 4vw + 0.5rem, var(--fs-h1));
        margin-bottom: clamp(
          var(--margin-xxs),
          1.5vw + 0.5rem,
          var(--margin-s)
        );
      }

      h3 {
        font-weight: 500;

        margin-bottom: auto;
        font-size: clamp(var(--fs-p), 1.5vw + 0.5rem, var(--fs-big));
        color: var(--grey10);
      }
    }

    .slide {
      div {
        img {
          margin-top: auto;
          height: clamp(var(--fs-h2), 4vw + 0.5rem, var(--fs-h1)) !important;
          width: auto;
          margin-bottom: clamp(
            var(--margin-xxs),
            1.5vw + 0.5rem,
            var(--margin-s)
          );
        }
      }
    }
  }

  .features-mobile {
    display: flex;
    justify-content: flex-start;
    // overflow: hidden;

    // animation: scroll 15s infinite;

    div {
      min-width: 100%;
      flex: 1;
      // flex-shrink: 0;

      transition: var(--transition-in);
      background-color: var(--secondary-color);
    }
  }
}

@media (max-width: 475px) {
  // .features {
  //   height: fit-content;
  //   div {
  //     // padding-top: min(7.5vw, 2rem);
  //     padding: 2vw 0rem;

  //     justify-content: flex-start;

  //     svg {
  //       font-size: 10vw;
  //     }

  //     h3 {
  //       font-size: 3vw;
  //     }

  //     img {
  //       height: 10vw;
  //     }
  //   }
  // }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}
