.featuredCollection {
  // --gap: clamp(var(--margin-s), 2vw + 0.5rem, var(--margin-l));
  --gap: var(--margin-m);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--background-color);

  .newArrivals {
    width: 100%;
    margin-bottom: var(--margin-xl);

    h2 {
      margin-block: var(--margin-xxl);

      text-align: center;
      color: var(--text-color);
    }

    .productListContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      // flex-wrap: wrap;

      gap: var(--gap);

      padding-inline: var(--margin-m);
    }
  }

  .bestSellers {
    width: 100%;
    // margin-top: var(--margin-xxl);

    border-top: 1px solid var(--grey80);
    margin-bottom: var(--margin-xl);

    h2 {
      margin-block: var(--margin-xxl);
      text-align: center;
      color: var(--text-color);
    }

    .productListContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: var(--gap);

      padding-inline: var(--margin-m);

      margin-bottom: var(--margin-xxl);
    }
  }

  .viewAllBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin-top: var(--margin-xxl);

    button {
      font-weight: 600;
    }
  }
}

@media (max-width: 1024px) {
  .featuredCollection {
    // padding: var(--margin-m);

    .newArrivals {
      h2 {
        // font-size: 3vw;
        font-size: clamp(var(--fs-h5-ui), 2.5vw + 0.25rem, var(--fs-h2-ui));
        margin-block: clamp(var(--margin-m), 2vw + 0.5rem, var(--margin-xl));
      }

      .productListContainer {
        overflow-x: auto;
        justify-content: flex-start;

        padding-bottom: var(--margin-xxs);
        // gap: 1.5rem;
      }
    }

    .bestSellers {
      // margin-top: var(--margin-s);
      h2 {
        font-size: clamp(var(--fs-h5-ui), 2.5vw + 0.25rem, var(--fs-h2-ui));
        margin-block: clamp(var(--margin-m), 2vw + 0.5rem, var(--margin-xl));
      }

      .productListContainer {
        overflow-x: auto;
        justify-content: flex-start;

        padding-bottom: var(--margin-xxs);
        // gap: 1.5rem;
      }
    }

    .viewAllBtn {
      button {
        a {
          font-size: clamp(var(--fs-big-ui), 2vw + 0.5rem, var(--fs-h5-ui));
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .featuredCollection {
    .newArrivals {
      .viewAllBtn {
        margin-top: var(--margin-l);

        .btn {
          a {
            font-size: var(--fs-p);
          }
        }
      }
    }
    .bestSellers {
      .viewAllBtn {
        margin-top: var(--margin-l);

        .btn {
          a {
            font-size: var(--fs-p);
          }
        }
      }
    }
  }
}
