.collectionList {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: clamp(var(--margin-s), 1vw, var(--margin-xl));

  // min-height: 25rem;

  padding: var(--margin-xl);
  background-color: var(--grey90);

  .collectionType {
    display: flex;
    flex-direction: column;

    cursor: pointer;

    &:hover {
      .circleImg {
        img {
          transform: scale(1.1);
          transition: var(--transition-in-slow);
        }
      }

      h3 {
        color: var(--black);
      }
    }

    .circleImg {
      display: flex;
      // flex: 1;
      // min-height: 20rem;

      overflow: hidden; /* Ensures the image stays within the circle */
      border-radius: 50%;

      aspect-ratio: 1/1;

      box-shadow: 0px 1px 5px var(--shadow-secondary);

      img {
        width: 100%; /* Ensures the image covers the container */
        height: auto;
        object-fit: cover; /* Maintains the aspect ratio and covers the container */
        transition: var(--transition-out-slow);
      }
    }

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: var(--margin-m);

      color: var(--grey20);

      font-size: var(--fs-h5);

      font-weight: 600;
    }
  }
}

@media (max-width: 1280px) {
  .collectionList {
    .collectionType {
      h3 {
        margin-top: var(--margin-xs);
      }
    }
  }
}

@media (max-width: 1024px) {
  .collectionList {
    padding: var(--margin-m) var(--margin-s);
    gap: var(--margin-m);

    .collectionType {
      height: 100%;
      width: auto;

      .circleImg {
        box-shadow: 0px 1px 3px var(--grey40);
      }

      h3 {
        margin-top: var(--margin-xxs);
        font-size: var(--fs-big);
      }
    }
  }
}

@media (max-width: 768px) {
  .collectionList {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    scrollbar-gutter: stable;

    .collectionType {
      min-width: clamp(10rem, 50vw, 14rem);

      h3 {
        margin-top: var(--margin-xs);
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 475px) {
  .collectionList {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    scrollbar-gutter: stable;

    .collectionType {
      h3 {
        font-size: var(--fs-big-ui);
      }
    }
  }
}
