.collectionList {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: clamp(var(--margin-s), 1vw, var(--margin-xl));

  // min-height: 25rem;

  padding: var(--margin-xl);
  background-color: var(--secondary-color);

  .collectionType {
    display: flex;
    flex-direction: column;
    // flex: 1 1 22%;

    // min-height: 25rem;
    // min-width: 25rem;

    cursor: pointer;

    .circleImg {
      display: flex;
      // flex: 1;
      // min-height: 20rem;

      overflow: hidden; /* Ensures the image stays within the circle */
      border-radius: 50%;

      box-shadow: 0px 1px 5px var(--shadow-secondary);

      img {
        width: 100%; /* Ensures the image covers the container */
        height: auto;
        object-fit: cover; /* Maintains the aspect ratio and covers the container */
        transition: var(--transition-out-slow);

        &:hover {
          transform: scale(1.1);
          transition: var(--transition-in-slow);
        }
      }
    }

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: var(--margin-s);

      color: var(--text-color);
      font-size: clamp(0.9rem, 5vw + 1rem, 1.25rem);

      font-weight: 500;
    }
  }
}

@media (max-width: 1536px) {
  .collectionType {
  }
}

@media (max-width: 1440px) {
  .collectionType {
    h3 {
    }
  }
}

@media (max-width: 1024px) {
  .collectionList {
    padding: var(--margin-m) var(--margin-s);
    gap: var(--margin-m);

    .collectionType {
      height: 100%;
      width: auto;

      .circleImg {
        box-shadow: 0px 1px 3px var(--shadow-secondary);
      }

      h3 {
        margin-top: var(--margin-xxs);
        font-size: vaR(--fsp);
      }
    }
  }
}

@media (max-width: 768px) {
  .collectionList {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    scrollbar-gutter: stable;

    // padding: var(--margin-s);

    // gap: var(--margin-s);

    .collectionType {
      min-width: 50vw;
      min-width: clamp(10rem, 50vw, 14rem);
    }
  }
}

@media (max-width: 640px) {
  // .collectionList {
  //   overflow-x: scroll;
  //   display: flex;
  //   justify-content: flex-start;
  //   scrollbar-gutter: stable;

  //   padding: var(--margin-s);

  //   gap: var(--margin-s);

  //   .collectionType {
  //     // min-width: 30vw;
  //     min-width: clamp(12.5rem, 10vw, 12.6rem);
  //   }
  // }
}

@media (max-width: 475px) {
  .collectionList {
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    scrollbar-gutter: stable;

    // min-height: 12.5rem;

    // padding: var(--margin-s);

    // gap: var(--margin-s);

    .collectionType {
      // min-width: clamp(10rem, 10vw, 10.5rem);
      // height: 100%;

      h3 {
        font-size: var(--fsp);
      }
    }
  }
}
