.productCollection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--background-color);
}
.productCollection h1 {
  margin-block: var(--margin-xl);
  font-size: var(--fs-h3);
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.productCollection .collectionToolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--grey80);
  background-color: var(--background-color);
  border-left: none;
  border-right: none;
  z-index: 990;
}
.productCollection .collectionToolbar .toolbarNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding-block: var(--margin-s);
  padding-inline: var(--margin-m);
  padding-left: var(--margin-xxs);
  height: 100%;
  border-right: 1px solid var(--grey80);
  cursor: pointer;
}
.productCollection .collectionToolbar .toolbarNav svg {
  display: flex;
  align-items: center;
  font-size: var(--fs-h5);
  color: var(--grey50);
  cursor: pointer;
  transition: var(--transition-out);
  height: 100%;
}
.productCollection .collectionToolbar .toolbarNav svg path:nth-of-type(2) {
  stroke-width: 0.1px;
}
.productCollection .collectionToolbar .toolbarNav p {
  display: flex;
  align-items: center;
  color: var(--grey50);
  transition: var(--transition-out);
  font-size: var(--fs-p);
  font-weight: 500;
  height: 100%;
}
.productCollection .collectionToolbar .toolbarNav:hover svg {
  color: var(--black);
  transition: var(--transition-in);
}
.productCollection .collectionToolbar .toolbarNav:hover p {
  color: var(--text-color);
  transition: var(--transition-in);
}
.productCollection .collectionToolbar .toolbarFilterBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-block: var(--margin-s);
  padding-inline: var(--margin-m);
  border-left: 0.5px solid var(--grey70);
  color: var(--grey30);
  cursor: pointer;
}
.productCollection .collectionToolbar .toolbarFilterBtn:hover p {
  color: var(--black);
  transition: var(--transition-in);
}
.productCollection .collectionToolbar .toolbarFilterBtn p {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--grey50);
  font-size: var(--fs-p);
  font-weight: 500;
  transition: var(--transition-out);
}
.productCollection .productCollectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--margin-m);
  gap: var(--margin-m);
}

.toolbarFilter {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 1000;
  transform: translateX(100%);
  transition: var(--transition-out);
}
.toolbarFilter.show {
  transform: translateX(0);
  box-shadow: -1px 0px 5px var(--grey50);
  transition: var(--transition-in);
}
.toolbarFilter .toolbarFilterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--margin-s) var(--margin-l);
  border-bottom: 1px solid var(--grey80);
}
.toolbarFilter .toolbarFilterHeader h4 {
  font-size: var(--fs-h5);
  font-weight: 600;
}
.toolbarFilter .toolbarFilterHeader div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.toolbarFilter .toolbarFilterHeader div button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.toolbarFilter .toolbarFilterHeader div button svg {
  font-size: var(--fs-h4);
}
.toolbarFilter .filterDropdownContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-inline: var(--margin-m);
  cursor: pointer;
}
.toolbarFilter .filterDropdownContainer .filterDropdownFilter {
  display: flex;
  justify-content: space-between;
  padding-block: var(--margin-s);
  border-bottom: 1px solid var(--grey90);
}
.toolbarFilter .filterDropdownContainer .filterDropdownFilter p {
  font-weight: 600;
  font-size: var(--fs-p);
}
.toolbarFilter .filterDropdownContainer .filterDropdownFilter div {
  display: flex;
}
.toolbarFilter .filterDropdownContainer .filterDropdownFilter div button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.toolbarFilter .filterDropdownContainer .filterDropdownFilter div button .filterDropdownArrow {
  font-size: var(--fs-p);
  transition: var(--transition-out);
}
.toolbarFilter .filterDropdownContainer .filterDropdownFilter div button .filterDropdownArrow.show {
  transform: rotate(180deg);
  transition: var(--transition-in);
}
.toolbarFilter .filterDropdownContainer .filterDropdown {
  max-height: 0;
  overflow: hidden;
  transition: 0.25s margin ease-out, 0.25s max-height ease-out;
  display: flex;
  flex-direction: column;
  gap: var(--margin-s);
}
.toolbarFilter .filterDropdownContainer .filterDropdown.show {
  margin: var(--margin-s) 0rem;
  max-height: 500px;
  transition: 0.25s margin ease-in, 0.25s max-height ease-in;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice {
  display: flex;
  align-items: center;
  gap: var(--margin-s);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey70);
  padding: var(--margin-xs) var(--margin-s);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input span {
  margin-right: var(--margin-xs);
  color: var(--grey30);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input input {
  border: none;
  outline: none;
  width: 100%; /* Ensures the input takes up remaining space */
  text-align: right;
  color: var(--grey30);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input input::-webkit-outer-spin-button, .toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input input::-moz-placeholder {
  color: var(--grey30);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByMaxMinPrice .price-input input::placeholder {
  color: var(--grey30);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByPriceSort {
  display: flex;
  flex-direction: column;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByPriceSort p {
  font-weight: 500;
  margin-bottom: var(--margin-xxs);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByPriceSort select {
  display: flex;
  font-family: var(--ff);
  border: 1px solid var(--grey50);
  padding: var(--margin-xs) var(--margin-xs);
  outline: none;
  cursor: pointer;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .filterByPriceSort select option {
  height: 2rem;
  font-family: var(--ff);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .categoryFilter {
  display: flex;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .categoryFilter form {
  display: flex;
  flex-direction: column;
  gap: var(--margin-xs);
  width: 100%;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .categoryFilter form div {
  display: flex;
  align-items: center;
  gap: var(--margin-xs);
  cursor: pointer;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .categoryFilter form div input {
  cursor: pointer;
}
.toolbarFilter .filterDropdownContainer .filterDropdown .categoryFilter form div label {
  cursor: pointer;
  color: var(--grey30);
}
.toolbarFilter .filterDropdownContainer .filterDropdown .categoryFilter form div:hover {
  color: var(--text-color);
}
.toolbarFilter .applyFiltersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: var(--margin-xxl);
}
.toolbarFilter .applyFiltersContainer button big {
  font-weight: 600;
}

.skibidi {
  width: 100vw;
  position: absolute;
  border-bottom: 1px solid red;
  top: 500px;
}

@media (max-width: 1024px) {
  .productCollection .collectionToolbar.sticky {
    top: 5rem;
  }
  .toolbarFilter {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .productCollection h1 {
    font-size: clamp(var(--fs-h5), 6vw, var(--fs-h3));
  }
}
@media (max-width: 640px) {
  .toolbarFilter {
    width: 70vw;
  }
}
@media (max-width: 475px) {
  .toolbarFilter {
    width: 100vw;
  }
}/*# sourceMappingURL=productCollection.css.map */