.cartProduct {
  --cartProduct-height: 7.5rem;

  display: flex;
  // justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-top: var(--margin-xs);
  padding: var(--margin-s);

  height: fit-content;

  border-radius: 0.75rem;

  background-color: var(--grey90);

  &.mobile {
    display: none;
  }

  .cartProductInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 60.4%;

    .cartProductImg {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      height: var(--cartProduct-height);

      background-color: var(--grey80);

      aspect-ratio: 3 / 4;

      padding: 0rem;
      border-radius: 0.5rem;

      img {
        width: auto;
        height: 100%;
      }
    }

    .cartProductTitlePrice {
      height: var(--cartProduct-height);

      display: flex;

      align-items: center;

      flex-direction: column;

      margin-left: var(--margin-s);

      width: max-content;

      h4 {
        font-size: var(--fs-p);
        width: 100%;
        font-weight: 600;
      }

      big {
        display: flex;
        font-size: var(--fs-p);
        margin-top: 0 !important;
        width: 100%;
      }
    }
  }

  .quantityCart {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    // gap: clamp(var(--margin-xs), 3vw, var(--margin-m));

    width: 20.4%;

    height: var(--cartProduct-height);

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .changeQuantityCart {
      display: flex;

      width: 75%;
      margin-top: var(--margin-xxs);

      button {
        flex: 1;

        padding: var(--margin-xs);
        // padding: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
        // padding-inline: clamp(var(--margin-xxs), 3vw, var(--margin-xs));

        font-weight: 600;

        height: 100%;
      }

      p {
        flex: 1;
        display: flex;
        align-items: center;

        padding: var(--margin-xs);

        font-size: var(--fs-p);
        font-weight: 600;

        margin: 0;

        height: 100%;

        border-top: 1px solid var(--accent-color);
        border-bottom: 1px solid var(--accent-color);
      }
    }

    .deleteProductCart {
      button {
        border: none;

        cursor: pointer;
        background-color: transparent;

        p {
          color: var(--accent-color);
          // font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
          font-weight: 500;

          padding: 0;

          border-bottom: 0.5px solid var(--accent-color);

          transition: var(--transition-out);
        }

        &:hover {
          p {
            color: var(--text-color);

            border-bottom: 0.5px solid var(--text-color);

            transition: var(--transition-in);
          }
        }
      }
    }
  }

  .subSubTotal {
    display: flex;
    // width: 20%;
    margin-left: auto;
    height: var(--cartProduct-height);

    padding-right: var(--margin-xxs);

    big {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      margin-top: 0 !important;

      // font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
      font-size: var(--fs-big);

      width: 100%;

      font-weight: 500;
    }
  }
}

@media (max-width: 1024px) {
  .cartProduct {
    --button-size: 2.5rem;

    .quantityCart {
      width: 25.5%;

      .changeQuantityCart {
        width: fit-content;

        button {
          display: flex;
          align-items: center;
          justify-content: center;

          width: var(--button-size);
          height: var(--button-size);
        }

        p {
          display: flex;
          align-items: center;
          justify-content: center;
          width: var(--button-size);
          height: var(--button-size);
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .cartProduct.mobile {
    --cartProduct-height: 9rem;
    --button-size: 2.25rem;

    display: flex;

    .cartProductInfo {
      width: 100%;

      .cartProductTitlePrice {
        align-items: flex-start;
        justify-content: flex-start;

        width: 82%;

        h4 {
          font-size: clamp(var(--fs-small-ui), 3vw, var(--fs-p));
          text-wrap: wrap;
        }

        big {
          // line-height: 1.5em;
          font-size: clamp(var(--fs-small-ui), 3vw, var(--fs-p));
        }

        .quantityCart {
          width: fit-content;
          height: fit-content;

          margin-block: auto;

          .changeQuantityCart {
            height: fit-content;
            margin-top: 0;
          }
        }

        .deleteProductCart {
          width: fit-content;

          p {
            font-size: clamp(var(--fs-small), 2vw, var(--fs-p));

            padding: 0;
            margin: 0;
            color: var(--accent-color);
          }
        }
      }
    }

    .quantityAndSubSubTotal {
      display: flex;
      flex-direction: column;
      align-items: end;
      height: clamp(7.5rem, 16vw, 10rem);

      gap: var(--margin-s);

      .quantityCart {
        width: fit-content;
        height: auto;

        .changeQuantityCart {
          width: auto;
          .btn {
            padding-block: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
            padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-s));
          }

          p {
            padding-block: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
            padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-s));
          }
        }
      }

      .subSubTotal {
        height: auto;
        width: fit-content;
      }
    }
  }
}
