.cartProduct {
  --cartProduct-height: 7.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--margin-xs);
  padding: var(--margin-s);
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.75rem;
  background-color: var(--grey90);
}
.cartProduct.mobile {
  display: none;
}
.cartProduct .cartProductInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60.4%;
}
.cartProduct .cartProductInfo .cartProductImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: var(--cartProduct-height);
  background-color: var(--grey80);
  aspect-ratio: 3/4;
  padding: 0rem;
  border-radius: 0.5rem;
}
.cartProduct .cartProductInfo .cartProductImg img {
  width: auto;
  height: 100%;
}
.cartProduct .cartProductInfo .cartProductTitlePrice {
  height: var(--cartProduct-height);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: var(--margin-s);
  width: -moz-max-content;
  width: max-content;
}
.cartProduct .cartProductInfo .cartProductTitlePrice h4 {
  font-size: var(--fs-p);
  width: 100%;
  font-weight: 600;
}
.cartProduct .cartProductInfo .cartProductTitlePrice big {
  display: flex;
  font-size: var(--fs-p);
  margin-top: 0 !important;
  width: 100%;
}
.cartProduct .quantityCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 20.4%;
  height: var(--cartProduct-height);
}
.cartProduct .quantityCart div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cartProduct .quantityCart .changeQuantityCart {
  display: flex;
  width: 75%;
  margin-top: var(--margin-xxs);
}
.cartProduct .quantityCart .changeQuantityCart button {
  flex: 1;
  padding: var(--margin-xs);
  font-weight: 600;
  height: 100%;
}
.cartProduct .quantityCart .changeQuantityCart p {
  flex: 1;
  display: flex;
  align-items: center;
  padding: var(--margin-xs);
  font-size: var(--fs-p);
  font-weight: 600;
  margin: 0;
  height: 100%;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}
.cartProduct .quantityCart .deleteProductCart button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.cartProduct .quantityCart .deleteProductCart button p {
  color: var(--accent-color);
  font-weight: 500;
  padding: 0;
  border-bottom: 0.5px solid var(--accent-color);
  transition: var(--transition-out);
}
.cartProduct .quantityCart .deleteProductCart button:hover p {
  color: var(--text-color);
  border-bottom: 0.5px solid var(--text-color);
  transition: var(--transition-in);
}
.cartProduct .subSubTotal {
  display: flex;
  margin-left: auto;
  height: var(--cartProduct-height);
  padding-right: var(--margin-xxs);
}
.cartProduct .subSubTotal big {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0 !important;
  font-size: var(--fs-big);
  width: 100%;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .cartProduct {
    --button-size: 2.5rem;
  }
  .cartProduct .quantityCart {
    width: 25.5%;
  }
  .cartProduct .quantityCart .changeQuantityCart {
    width: -moz-fit-content;
    width: fit-content;
  }
  .cartProduct .quantityCart .changeQuantityCart button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
  }
  .cartProduct .quantityCart .changeQuantityCart p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--button-size);
    height: var(--button-size);
  }
}
@media (max-width: 640px) {
  .cartProduct.mobile {
    --cartProduct-height: 9rem;
    --button-size: 2.25rem;
    display: flex;
  }
  .cartProduct.mobile .cartProductInfo {
    width: 100%;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice {
    align-items: flex-start;
    justify-content: flex-start;
    width: 82%;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice h4 {
    font-size: clamp(var(--fs-small-ui), 3vw, var(--fs-p));
    text-wrap: wrap;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice big {
    font-size: clamp(var(--fs-small-ui), 3vw, var(--fs-p));
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .quantityCart {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-block: auto;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .quantityCart .changeQuantityCart {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .deleteProductCart {
    width: -moz-fit-content;
    width: fit-content;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .deleteProductCart p {
    font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
    padding: 0;
    margin: 0;
    color: var(--accent-color);
  }
  .cartProduct.mobile .quantityAndSubSubTotal {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: clamp(7.5rem, 16vw, 10rem);
    gap: var(--margin-s);
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart .changeQuantityCart {
    width: auto;
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart .changeQuantityCart .btn {
    padding-block: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-s));
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart .changeQuantityCart p {
    padding-block: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-s));
  }
  .cartProduct.mobile .quantityAndSubSubTotal .subSubTotal {
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=cartProduct.css.map */