.cartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: clamp(var(--margin-xxs), 3vw, var(--margin-s));
  padding: clamp(var(--margin-xxs), 3vw, var(--margin-s));
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
}
.cartProduct.mobile {
  display: none;
}
.cartProduct .cartProductInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.cartProduct .cartProductInfo .cartProductImg {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 7.5rem;
  height: 10rem;
  padding: 0rem;
  border-radius: 0.5rem;
}
.cartProduct .cartProductInfo .cartProductImg img {
  width: auto;
  height: 100%;
}
.cartProduct .cartProductInfo .cartProductTitlePrice {
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-left: clamp(var(--margin-xxs), 3vw, var(--margin-s));
}
.cartProduct .cartProductInfo .cartProductTitlePrice h4 {
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  width: 100%;
  font-weight: 600;
}
.cartProduct .cartProductInfo .cartProductTitlePrice big {
  display: flex;
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  margin-top: 0 !important;
  width: 100%;
}
.cartProduct .quantityCart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(var(--margin-xs), 3vw, var(--margin-m));
  width: 20%;
  height: 10rem;
}
.cartProduct .quantityCart div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cartProduct .quantityCart .changeQuantityCart {
  display: flex;
  width: 75%;
}
.cartProduct .quantityCart .changeQuantityCart button {
  flex: 1;
  padding: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
  height: 100%;
}
.cartProduct .quantityCart .changeQuantityCart p {
  flex: 1;
  display: flex;
  align-items: center;
  padding: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  height: 100%;
  border-top: 0.5px solid var(--accent-color);
  border-bottom: 0.5px solid var(--accent-color);
}
.cartProduct .quantityCart .deleteProductCart button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.cartProduct .quantityCart .deleteProductCart button p {
  color: var(--accent-color);
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  padding: 0;
  border-bottom: 0.5px solid var(--accent-color);
  transition: var(--transition-out);
}
.cartProduct .quantityCart .deleteProductCart button:hover p {
  color: var(--text-color);
  border-bottom: 0.5px solid var(--text-color);
  transition: var(--transition-in);
}
.cartProduct .subSubTotal {
  display: flex;
  width: 20%;
  height: 10rem;
}
.cartProduct .subSubTotal big {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0 !important;
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  width: 100%;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .cartProduct {
    margin-top: clamp(var(--margin-xxs), 1.5vw, var(--margin-s));
    padding: clamp(var(--margin-xxs), 1.5vw, var(--margin-s));
  }
  .cartProduct .cartProductInfo .cartProductImg {
    height: clamp(7.5rem, 16vw, 10rem);
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .cartProduct .cartProductInfo .cartProductTitlePrice {
    height: clamp(7.5rem, 16vw, 10rem);
  }
  .cartProduct .cartProductInfo .cartProductTitlePrice h4 {
    font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  }
  .cartProduct .cartProductInfo .cartProductTitlePrice big {
    font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  }
  .cartProduct .quantityCart {
    width: 27%;
    height: clamp(7.5rem, 16vw, 10rem);
  }
  .cartProduct .quantityCart .changeQuantityCart {
    width: clamp(5rem, 16vw, 10rem);
  }
  .cartProduct .quantityCart .changeQuantityCart button {
    padding: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    font-size: clamp(var(--fs-p), 1.5vw, var(--fs-big));
  }
  .cartProduct .quantityCart .changeQuantityCart p {
    padding: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    font-size: clamp(var(--fs-p), 1.5vw, var(--fs-big));
    font-weight: 600;
  }
  .cartProduct .quantityCart .deleteProductCart button p {
    font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  }
  .cartProduct .subSubTotal {
    height: clamp(7.5rem, 16vw, 10rem);
    width: 13%;
  }
  .cartProduct .subSubTotal big {
    font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  }
}
@media (max-width: 640px) {
  .cartProduct {
    display: none;
  }
  .cartProduct.mobile {
    display: flex;
    gap: var(--margin-s);
    padding: clamp(var(--margin-xs), 1.5vw, var(--margin-s));
  }
  .cartProduct.mobile .cartProductInfo {
    width: auto;
    flex: 1;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice h4 {
    line-height: 1.5em;
    font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice big {
    line-height: 1.5em;
    font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .deleteProductCart {
    width: 100%;
    margin-top: auto;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .deleteProductCart button p {
    font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
    padding: 0;
    color: var(--accent-color);
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .quantityCart {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-block: auto;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .quantityCart .changeQuantityCart {
    height: -moz-fit-content;
    height: fit-content;
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .quantityCart .changeQuantityCart .btn {
    height: -moz-fit-content;
    height: fit-content;
    padding: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    font-size: clamp(var(--fs-small), 1.5vw, var(--fs-p));
  }
  .cartProduct.mobile .cartProductInfo .cartProductTitlePrice .quantityCart .changeQuantityCart p {
    height: -moz-fit-content;
    height: fit-content;
    padding: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    font-size: clamp(var(--fs-small), 1.5vw, var(--fs-p));
  }
  .cartProduct.mobile .quantityAndSubSubTotal {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: clamp(7.5rem, 16vw, 10rem);
    gap: var(--margin-s);
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart .changeQuantityCart {
    width: auto;
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart .changeQuantityCart .btn {
    padding-block: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-s));
  }
  .cartProduct.mobile .quantityAndSubSubTotal .quantityCart .changeQuantityCart p {
    padding-block: clamp(var(--margin-xxs), 1vw, var(--margin-xs));
    padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-s));
  }
  .cartProduct.mobile .quantityAndSubSubTotal .subSubTotal {
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=cartProduct.css.map */