.accountOrder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
  background-color: var(--secondary-color);
  margin-top: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
  transition: var(--transition-out);
  border: 0.5px solid var(--secondary-hover);
  cursor: pointer;
}
.accountOrder:hover {
  background-color: var(--secondary-hover);
  transition: var(--transition-in);
}
.accountOrder .orderItemImages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 7rem;
  max-width: 5.6rem;
}
.accountOrder .orderItemImages .slide img {
  max-height: 7rem;
}
.accountOrder .orderItemImages img {
  height: 100%;
  width: 100%;
}
.accountOrder .accountOrderDetails {
  display: flex;
  justify-content: space-between;
  padding-left: var(--margin-s);
  padding-right: var(--margin-xxs);
  height: 100%;
  width: 100%;
  height: 7rem;
}
.accountOrder .accountOrderDetails div:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
.accountOrder .accountOrderDetails div:nth-child(1) p {
  margin: 0;
  text-align: left;
}
.accountOrder .accountOrderDetails div:nth-child(1) p:nth-child(1) {
  font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  font-weight: 600;
}
.accountOrder .accountOrderDetails div:nth-child(1) p:nth-child(2) {
  font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
  font-weight: 400;
}
.accountOrder .accountOrderDetails div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: -moz-fit-content;
  width: fit-content;
}
.accountOrder .accountOrderDetails div:nth-child(2) p {
  margin: 0;
  text-align: right;
  font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
}
.accountOrder .accountOrderDetails div:nth-child(2) p {
  font-weight: 400;
}
.accountOrder .accountOrderDetails div:nth-child(2) button {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  margin-bottom: var(--margin-xxs);
  border: none;
  border-bottom: 1px solid var(--accent-color);
  background-color: transparent;
  transition: var(--transition-out);
  cursor: pointer;
}
.accountOrder .accountOrderDetails div:nth-child(2) button small {
  color: var(--accent-color);
  transition: var(--transition-out);
  font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
}
.accountOrder .accountOrderDetails div:nth-child(2) button:hover {
  transition: var(--transition-in);
  border-bottom: 1px solid var(--text-color);
}
.accountOrder .accountOrderDetails div:nth-child(2) button:hover small {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .account .accountToolbar {
    width: clamp(19rem, 96vw, 46rem);
  }
  .account .accountToolbar h4 {
    font-size: clamp(var(--fs-p), 2.5vw, var(--fs-h4));
  }
  .account .accountInfo {
    flex-direction: column;
    width: clamp(19rem, 96vw, 46rem);
  }
  .account .accountInfo .orders {
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .account .accountInfo .orders big {
    font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
  }
  .account .accountInfo .orders p {
    margin-block: clamp(var(--margin-xs), 2vw, var(--margin-m));
    font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
    font-weight: 600;
  }
  .account .accountInfo .orders .btn {
    background-color: var(--accent-color);
    padding-block: var(--margin-xxs);
    padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-m));
  }
  .account .accountInfo .orders .btn a {
    font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
  }
  .account .accountInfo .address {
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .account .accountInfo .address big {
    font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
  }
  .account .accountInfo .address div {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-m);
  }
  .account .accountInfo .address div .btn {
    background-color: var(--accent-color);
    padding-block: var(--margin-xxs);
    padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-m));
  }
  .account .accountInfo .address div .btn a {
    font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
  }
}/*# sourceMappingURL=accountOrder.css.map */