.accountOrder {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  border-radius: 0.5rem;

  height: fit-content;

  padding: clamp(var(--margin-xxs), 2vw, var(--margin-xs));

  background-color: var(--secondary-color);
  margin-top: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
  transition: var(--transition-out);

  border: 0.5px solid var(--secondary-hover);

  cursor: pointer;

  &:hover {
    background-color: var(--secondary-hover);
    transition: var(--transition-in);
  }

  .orderItemImages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;

    border-radius: 0.5rem;
    overflow: hidden;

    height: 7rem;
    max-width: 5.6rem;

    .slide {
      img {
        max-height: 7rem;
      }
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .accountOrderDetails {
    display: flex;
    justify-content: space-between;

    // flex-direction: column;

    padding-left: var(--margin-s);
    padding-right: var(--margin-xxs);

    // padding: var(--margin-xxs) 0rem;

    // flex-wrap: wrap;
    height: 100%;
    width: 100%;

    height: 7rem;

    // div {
    //   width: 50%;
    //   height: 100%;
    // }

    div:nth-child(1) {
      display: flex;
      flex-direction: column;

      width: fit-content;

      p {
        margin: 0;
        text-align: left;
      }

      p:nth-child(1) {
        // font: var(--big);
        font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
        font-weight: 600;
      }

      p:nth-child(2) {
        font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
        font-weight: 400;
      }
    }

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: end;

      width: fit-content;

      p {
        margin: 0;
        text-align: right;
        font-size: clamp(var(--fs-p), 2vw, var(--fs-big));
      }

      p {
        font-weight: 400;
      }

      button {
        width: fit-content;
        margin-top: auto;
        margin-bottom: var(--margin-xxs);

        border: none;
        border-bottom: 1px solid var(--accent-color);
        background-color: transparent;
        transition: var(--transition-out);

        cursor: pointer;

        small {
          color: var(--accent-color);
          transition: var(--transition-out);

          font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
        }

        &:hover {
          transition: var(--transition-in);
          border-bottom: 1px solid var(--text-color);
          small {
            color: var(--text-color);
          }
        }
      }
    }
  }
}

// @media (max-width: 1024px) {
//   .accountOrder {
//     .accountOrderDetails {
//       div:nth-child(1) {
//         width: 60%;
//         p:nth-child(1) {
//           font-size: 1.85vw;
//         }

//         p:nth-child(2) {
//           font-size: 1.75vw;
//           font-weight: 500;
//         }
//       }

//       div:nth-child(2) {
//         width: fit-content;
//         p:nth-child(1) {
//           font-size: 1.85vw;
//           font-weight: 500;
//         }

//         button {
//           small {
//             font-size: 1.7vw;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .accountOrder {
//     .accountOrderDetails {
//       div:nth-child(1) {
//         width: 60%;
//         p:nth-child(1) {
//           font-size: 1.85vw;
//         }

//         p:nth-child(2) {
//           font-size: 1.75vw;
//           font-weight: 500;
//         }
//       }

//       div:nth-child(2) {
//         width: fit-content;
//         p:nth-child(1) {
//           font-size: 1.85vw;
//           font-weight: 500;
//         }

//         button {
//           small {
//             font-size: 1.7vw;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 640px) {
//   .accountOrder {
//     .accountOrderDetails {
//       div:nth-child(1) {
//         width: 75%;
//         p:nth-child(1) {
//           font-size: 2.25vw;
//         }

//         p:nth-child(2) {
//           font-size: 2vw;
//           font-weight: 500;
//         }
//       }

//       div:nth-child(2) {
//         width: fit-content;
//         p:nth-child(1) {
//           font-size: 2.25vw;
//           font-weight: 500;
//         }

//         button {
//           small {
//             font-size: 2vw;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 475px) {
//   .accountOrder {
//     .orderItemImages {
//       height: 20vw;
//     }

//     .accountOrderDetails {
//       height: 20vw;
//       div:nth-child(1) {
//         width: 70%;
//         p:nth-child(1) {
//           font-size: 2.5vw;
//         }

//         p:nth-child(2) {
//           font-size: 2.25vw;
//           font-weight: 500;
//         }
//       }

//       div:nth-child(2) {
//         width: fit-content;
//         p:nth-child(1) {
//           font-size: 2.5vw;
//           font-weight: 500;
//         }

//         button {
//           small {
//             font-size: 2.25vw;
//           }
//         }
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .account {
    .accountToolbar {
      width: clamp(19rem, 96vw, 46rem);

      h4 {
        font-size: clamp(var(--fs-p), 2.5vw, var(--fs-h4));
      }
    }

    .accountInfo {
      flex-direction: column;

      width: clamp(19rem, 96vw, 46rem);

      .orders {
        width: 100%;
        min-height: fit-content;

        big {
          font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
        }

        p {
          margin-block: clamp(var(--margin-xs), 2vw, var(--margin-m));
          font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));

          font-weight: 600;
        }

        .btn {
          background-color: var(--accent-color);
          padding-block: var(--margin-xxs);
          padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-m));
          a {
            font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
          }
        }
      }

      .address {
        width: 100%;
        min-height: fit-content;

        big {
          font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
        }

        div {
          display: flex;
          justify-content: center;
          margin-top: var(--margin-m);

          .btn {
            background-color: var(--accent-color);
            padding-block: var(--margin-xxs);
            padding-inline: clamp(var(--margin-xs), 2vw, var(--margin-m));
            a {
              font-size: clamp(var(--fs-p), 2.5vw, var(--fs-big));
            }
          }
        }
      }
    }
  }
}
