.productDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-block: var(--margin-xxl);
  background-color: var(--grey95);
  gap: var(--margin-xxl);
}
.productDetails .productImgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: clamp(30rem, 60vw + 0.5rem, 50rem);
  width: 50%;
}
.productDetails .productImgContainer img {
  height: 100%;
  width: auto;
}
.productDetails .productInfoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.productDetails .productInfoContainer h2 {
  display: flex;
  text-align: left;
  width: 100%;
  font-size: var(--fs-h2);
  font-weight: 600;
  color: var(--text-color);
}
.productDetails .productInfoContainer big {
  display: flex;
  text-align: left;
  width: 100%;
  font-weight: 600;
}
.productDetails .productInfoContainer big svg {
  display: flex;
  height: 100%;
  font-size: var(--fs-big-ui);
  color: var(--grey40);
}
.productDetails .productInfoContainer big p {
  display: flex;
  height: 100%;
  padding-left: var(--margin-xxs);
  font-size: var(--fs-big-ui);
  color: var(--grey30);
}
.productDetails .productInfoContainer h4 {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: var(--fs-h4-ui);
}
.productDetails .productInfoContainer .infoDisplay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-block: var(--margin-xxs) var(--margin-s);
  gap: clamp(var(--margin-xxs), 2vw + 0.5rem, var(--margin-xs));
}
.productDetails .productInfoContainer .infoDisplay div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: var(--margin-xxs);
  border: 1px solid var(--grey60);
  width: clamp(20rem, 30vw + 0.5rem, 30rem);
  color: var(--grey10);
  font-weight: 400;
  background-color: var(--grey90);
}
.productDetails .productInfoContainer .infoDisplay div svg {
  font-size: var(--fs-big);
  color: var(--grey30);
  width: 2rem;
}
.productDetails .productInfoContainer .infoDisplay div p {
  font-weight: 400;
  color: var(--grey30);
  font-size: clamp(var(--fs-small), 1vw + 0.5rem, var(--fs-p));
}
.productDetails .productInfoContainer .quantityModifier {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.productDetails .productInfoContainer .quantityModifier button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid var(--accent-color);
  width: 3rem;
  font-size: var(--fs-h3-ui);
  color: var(--white);
  background-color: var(--accent-color);
  font-weight: 400;
  cursor: pointer;
  transition: var(--transition-out);
}
.productDetails .productInfoContainer .quantityModifier button:hover {
  background-color: var(--black);
  border: 0.5px solid var(--black);
  transition: var(--transition-in);
}
.productDetails .productInfoContainer .quantityModifier p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  font-size: var(--fs-big-ui);
  padding-block: clamp(var(--margin-xxs), 2vw + 0.5rem, var(--margin-xs));
  width: 3rem;
  font-weight: 500;
}
.productDetails .productInfoContainer .quantityModifier button:nth-child(1) {
  border-right: none;
}
.productDetails .productInfoContainer .quantityModifier button:nth-child(3) {
  border-left: none;
}
.productDetails .productInfoContainer .inStock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-block: clamp(var(--margin-xxs), 3vw + 0.5rem, var(--margin-xs));
}
.productDetails .productInfoContainer .inStock p {
  color: var(--green);
  font: var(--p);
  font-size: var(--fs-big-ui);
  font-weight: 500;
  font-style: italic;
}
.productDetails .productInfoContainer .addToCart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.productDetails .productInfoContainer .addToCart button {
  padding-block: var(--margin-xs);
  padding-inline: var(--margin-m);
  font-size: var(--fs-big-ui);
  font-weight: 600;
  height: 100%;
}
.productDetails .productInfoContainer .shareLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  text-align: left;
  height: -moz-fit-content;
  height: fit-content;
  margin-block: clamp(var(--margin-xxs), 3vw + 0.5rem, var(--margin-s));
}
.productDetails .productInfoContainer .shareLink a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  color: var(--accent-color);
  font-size: clamp(var(--fs-small), 3vw + 0.5rem, var(--fs-p));
  transition: var(--transition-out);
  gap: var(--margin-xxs);
}
.productDetails .productInfoContainer .shareLink a svg {
  display: flex;
  align-items: center;
  font-size: clamp(var(--fs-p), 3vw + 0.5rem, var(--fs-big));
  color: var(--accent-color);
  transition: var(--transition-out);
}
.productDetails .productInfoContainer .shareLink a:hover {
  color: var(--text-color);
  transition: var(--transition-in);
}
.productDetails .productInfoContainer .shareLink a:hover svg {
  color: var(--text-color);
  transition: var(--transition-in);
}
.productDetails .productInfoContainer .descriptionBox {
  display: flex;
  width: 100%;
  margin-bottom: var(--margin-s);
}
.productDetails .productInfoContainer .descriptionBox p {
  font-size: var(--fs-p);
}

@media (max-width: 1024px) {
  .productDetails {
    gap: var(--margin-l);
  }
  .productDetails .productImgContainer {
    height: clamp(30rem, 62vw + 0.5rem, 40rem);
  }
  .productDetails .productInfoContainer h2 {
    font-size: var(--fs-h3);
  }
}
@media (max-width: 768px) {
  .productDetails {
    flex-direction: column;
  }
  .productDetails .productImgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    padding-inline: clamp(var(--margin-m), 5vw, var(--margin-xxl));
  }
  .productDetails .productImgContainer img {
    width: 100%;
    height: auto;
  }
  .productDetails .productInfoContainer {
    width: 100%;
    padding-inline: clamp(var(--margin-m), 5vw, var(--margin-xxl));
  }
  .productDetails .productInfoContainer h2 {
    font-size: clamp(var(--fs-h5), 5vw, var(--fs-h3));
    font-weight: 700;
  }
  .productDetails .productInfoContainer big {
    display: flex;
    align-items: center;
  }
  .productDetails .productInfoContainer big svg {
    font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  }
  .productDetails .productInfoContainer big p {
    font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  }
  .productDetails .productInfoContainer h4 {
    font-size: clamp(var(--fs-p), 4vw, var(--fs-h5));
  }
  .productDetails .productInfoContainer .infoDisplay {
    display: flex;
    gap: var(--margin-xs);
  }
  .productDetails .productInfoContainer .infoDisplay div {
    width: clamp(20rem, 60vw, 23rem);
  }
  .productDetails .productInfoContainer .infoDisplay div p {
    font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
  }
  .productDetails .productInfoContainer .quantityModifier button {
    font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
    padding-block: clamp(var(--margin-xxs), 1.5vw, var(--margin-xs));
    line-height: 1.6em;
  }
  .productDetails .productInfoContainer .quantityModifier p {
    font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
    padding-block: clamp(var(--margin-xxs), 1.5vw, var(--margin-xs));
  }
  .productDetails .productInfoContainer .inStock p {
    font-size: clamp(var(--fs-small), 2.5vw, var(--fs-big));
  }
  .productDetails .productInfoContainer .addToCart button {
    padding-block: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
    padding-inline: clamp(var(--margin-s), 2vw, var(--margin-m));
  }
  .productDetails .productInfoContainer .shareLink {
    margin-block: var(--margin-xs);
  }
  .productDetails .productInfoContainer .descriptionBox {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=ProductDetails.css.map */