.adminHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: var(--margin-xxl);

  width: 100%;

  padding-block: var(--margin-xl);

  border-bottom: 1px solid var(--grey80);

  .adminHeaderBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fs-big);
    transition: var(--transition-out);

    cursor: pointer;

    &:hover {
      color: var(--accent-color);
      font-weight: 600;
      transition: var(--transition-in);
    }

    &.active {
      color: var(--accent-color);
      font-weight: 600;
      transition: var(--transition-in);
    }
  }
}

.adminSectionWrapper {
  width: 60rem;

  margin-inline: auto;
}

@media (max-width: 1024px) {
  .adminSectionWrapper {
    width: clamp(20rem, 95vw, 60rem);
  }
}

@media (max-width: 768px) {
  .adminHeader {
    gap: clamp(var(--margin-m), 4vw, var(--margin-xl));

    .adminHeaderBtn {
      font-size: clamp(var(--fs-small-ui), 3vw, var(--fs-big));
    }
  }
}
