.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  flex-direction: column;

  padding-inline: clamp(var(--margin-m), 2vw + 0.5rem, var(--margin-xxl));
  padding-bottom: clamp(var(--margin-m), 2vw + 0.5rem, var(--margin-xxl));

  text-align: center;

  h3 {
    margin-block: clamp(var(--margin-m), 3vw + 0.5rem, var(--margin-xxl));

    font-size: clamp(var(--fs-h5), 3vw + 1rem, var(--fs-h2));

    font-weight: 600;

    color: var(--text-color);
    width: 100%;
  }

  big {
    margin-bottom: clamp(var(--margin-xxs), 1.5vw + 0.5rem, var(--margin-xs));
    font-size: clamp(var(--fs-p), 1.5vw + 0.5rem, var(--fs-big));
    width: 100%;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    gap: clamp(var(--margin-xxs), 1.5vw + 0.5rem, var(--margin-xs));

    margin-bottom: clamp(var(--margin-xxs), 1.5vw + 0.5rem, var(--margin-xs));

    input {
      // height: 2.5rem;
      // width: 30%;
      min-width: 30rem;

      border: 0.5px solid var(--grey50);
      padding: clamp(var(--margin-xxs), 1.5vw + 0.5rem, var(--margin-xs));
      padding-inline: var(--margin-xs);

      // font-family: "Poppins";

      font-size: clamp(var(--fs-small), 1.5vw + 0.5rem, var(--fs-p));

      border-radius: 0rem;

      &::placeholder {
        font-size: clamp(var(--fs-small), 1.5vw + 0.5rem, var(--fs-p));
      }
    }

    button {
      // margin-top: var(--margin-xxs);
      // width: 30%;
      min-width: 30rem;
      padding-inline: clamp(var(--fs-small), 1.5vw + 0.5rem, var(--fs-p));
      big {
        font-size: clamp(var(--fs-p), 1.5vw + 0.5rem, var(--fs-big));
        font-weight: 600;
      }
    }
  }

  small {
    display: flex;
    justify-content: center;
    color: var(--grey30);
    font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-p));

    gap: clamp(var(--margin-xxs), 2vw + 0.5rem, var(--margin-s));

    font-weight: 400;
    width: 100%;

    a {
      // margin-left: var(--margin-xxs);
      color: var(--grey10);
      font-weight: 600;

      border-bottom: 1px solid var(--grey10);
      // font-size: clamp(var(--fs-p), 2vw + 0.5rem, var(--fs-big));
    }
  }
}

// @media (max-width: 1536px) {
//   .loginForm {
//     form {
//       input {
//         min-width: 25vw;
//       }

//       button {
//         min-width: 25vw;
//       }
//     }
//   }
// }

// @media (max-width: 1280px) {
//   .loginForm {
//     padding: var(--margin-xxl) 10vw;
//   }
// }

// @media (max-width: 1024px) {
//   .loginForm {
//     form {
//       input {
//         min-width: 35vw;
//       }

//       button {
//         min-width: 35vw;
//       }
//     }
//   }
// }

// @media (max-width: 1024px) {
//   .loginForm {
//     form {
//       input {
//         min-width: 40vw;
//       }

//       button {
//         min-width: 40vw;
//       }
//     }
//   }
// }

// @media (max-width: 640px) {
//   .loginForm {
//     padding: var(--margin-xxl) 5vw;

//     form {
//       input {
//         min-width: 50vw;
//       }

//       button {
//         min-width: 50vw;
//       }
//     }
//   }
// }

// @media (max-width: 475px) {
//   .loginForm {
//     padding: var(--margin-xxl) 5vw;

//     h3 {
//       margin-bottom: 2vw;
//       font-size: 7.5vw;
//     }

//     big {
//       font-size: 4vw;
//     }

//     form {
//       input {
//         min-width: 70vw;
//       }

//       button {
//         min-width: 70vw;
//       }
//     }
//   }
// }

@media (max-width: 1024px) {
  .loginForm {
    form {
      input {
        min-width: 25rem;
      }

      button {
        min-width: 25rem;
      }
    }
  }
}

@media (max-width: 640px) {
  .loginForm {
    form {
      input {
        min-width: 20rem;
      }

      button {
        min-width: 20rem;
      }
    }
  }
}

@media (max-width: 475px) {
  .loginForm {
    form {
      input {
        min-width: 70vw;
      }

      button {
        min-width: 70vw;
      }
    }
  }
}
