.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--margin-l) var(--margin-xl);
  padding-bottom: var(--margin-xxl);
  background-color: var(--white);
  gap: var(--margin-xxl);
}
.footer .about {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 2.5;
  height: 100%;
}
.footer .about h4 {
  width: 100%;
  text-align: left;
  color: var(--grey10);
  font-size: var(--fs-h5);
}
.footer .about p {
  color: var(--grey10);
}
.footer .about .socials {
  width: 100%;
  margin-top: var(--margin-xs);
  height: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer .about .socials a {
  margin-right: var(--margin-s);
  height: 100%;
  display: flex;
}
.footer .about .socials a svg {
  font-size: var(--fs-h3-ui);
  height: 100%;
  color: var(--accent-color);
  transition: var(--transition-out);
}
.footer .about .socials a svg:hover {
  color: var(--text-color);
  transition: var(--transition-in);
}
.footer .help {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.footer .help h4 {
  width: 100%;
  text-align: left;
  color: var(--grey10);
  font-size: var(--fs-h5);
}
.footer .help p {
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
  color: var(--accent-color);
  margin-bottom: var(--margin-xs);
  border-bottom: 1px solid var(--accent-color);
  cursor: pointer;
  transition: var(--transition-out);
}
.footer .help p:hover {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  transition: var(--transition-in);
}
.footer .newsletter {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1.25;
}
.footer .newsletter h4 {
  width: 100%;
  text-align: left;
  color: var(--grey10);
  font-size: var(--fs-h5);
}
.footer .newsletter p {
  color: var(--grey10);
}
.footer .newsletter form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--margin-xxs);
}
.footer .newsletter form input {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid var(--grey60);
  padding-inline: var(--margin-xs);
  padding-block: var(--margin-xxs);
  font-size: var(--fs-p);
  font-family: var(--ff);
}
.footer .newsletter form input:focus {
  outline: none;
}
.footer .newsletter form input::-moz-placeholder {
  font-size: var(--p);
  font-family: var(--ff);
}
.footer .newsletter form input::placeholder {
  font-size: var(--p);
  font-family: var(--ff);
}
.footer .newsletter form button {
  height: 2.5rem;
  width: 50%;
  min-width: 12.5rem;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .newsletter form button p {
  font-size: var(--fs-p);
  color: var(--white);
  font-weight: 600;
}

@media (max-width: 1024px) {
  .footer {
    padding: var(--margin-l);
    gap: var(--margin-xl);
  }
}
@media (max-width: 768px) {
  .footer {
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  .footer .about h4 {
    margin-bottom: 0;
  }
  .footer .newsletter h4 {
    margin-bottom: 0;
  }
  .footer .help h4 {
    margin-bottom: 0;
  }
}
@media (max-width: 475px) {
  .footer {
    gap: var(--margin-s);
  }
  .footer .about h4 {
    font-size: var(--fs-big-ui);
  }
  .footer .about p {
    font-size: var(--fs-small-ui);
  }
  .footer .about .socials {
    margin-top: var(--margin-xxs);
  }
  .footer .about .socials a svg {
    font-size: var(--fs-h5-ui);
  }
  .footer .help h4 {
    font-size: var(--fs-big-ui);
  }
  .footer .help p {
    font-size: var(--fs-small-ui);
  }
  .footer .newsletter h4 {
    font-size: var(--fs-big-ui);
  }
  .footer .newsletter p {
    font-size: var(--fs-small-ui);
  }
  .footer .newsletter form input {
    font-size: var(--fs-small-ui);
  }
  .footer .newsletter form input::-moz-placeholder {
    font-size: var(--fs-small-ui);
  }
  .footer .newsletter form input::placeholder {
    font-size: var(--fs-small-ui);
  }
  .footer .newsletter form button p {
    font-size: var(--fs-small-ui);
  }
}/*# sourceMappingURL=footer.css.map */