.footer {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  flex-direction: row;

  padding: var(--margin-l) var(--margin-xl);

  padding-bottom: var(--margin-xxl);

  background-color: var(--white);
  gap: var(--margin-xxl);

  .about {
    display: flex;

    align-items: center;
    flex-direction: column;

    flex: 2.5;

    height: 100%;

    h4 {
      width: 100%;
      text-align: left;
      color: var(--grey10);
      font-size: var(--fs-h5);
    }

    p {
      color: var(--grey10);
    }

    .socials {
      width: 100%;
      margin-top: var(--margin-xs);

      height: 2rem;

      display: flex;
      justify-content: start;
      align-items: center;

      a {
        margin-right: var(--margin-s);
        height: 100%;

        display: flex;

        svg {
          font-size: var(--fs-h3-ui);
          height: 100%;

          color: var(--accent-color);
          transition: var(--transition-out);
          &:hover {
            color: var(--text-color);
            transition: var(--transition-in);
          }
        }
      }
    }
  }

  .help {
    display: flex;

    flex-direction: column;

    // margin-left: var(--margin-l);

    height: 100%;
    // flex: 1;

    h4 {
      width: 100%;
      text-align: left;
      color: var(--grey10);
      font-size: var(--fs-h5);
    }

    p {
      width: fit-content;
      text-align: left;
      color: var(--accent-color);

      margin-bottom: var(--margin-xs);

      border-bottom: 1px solid var(--accent-color);

      cursor: pointer;
      transition: var(--transition-out);

      &:hover {
        color: var(--text-color);
        border-bottom: 1px solid var(--text-color);
        transition: var(--transition-in);
      }
    }
  }

  .newsletter {
    display: flex;

    flex-direction: column;

    height: 100%;
    flex: 1.25;

    h4 {
      width: 100%;
      text-align: left;
      color: var(--grey10);
      font-size: var(--fs-h5);
    }

    p {
      color: var(--grey10);
    }

    form {
      width: 100%;

      display: flex;

      align-items: center;
      flex-direction: column;

      margin-top: var(--margin-xxs);

      input {
        // height: 2rem;
        width: 100%;

        margin-bottom: 0.5rem;
        border: 1px solid var(--grey60);

        padding-inline: var(--margin-xs);
        padding-block: var(--margin-xxs);

        font-size: var(--fs-p);
        font-family: var(--ff);

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: var(--p);
          font-family: var(--ff);
        }
      }

      button {
        height: 2.5rem;
        width: 50%;
        min-width: 12.5rem;

        margin-right: auto;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
          font-size: var(--fs-p);
          color: var(--white);

          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    padding: var(--margin-l);

    gap: var(--margin-xl);
  }
}

@media (max-width: 768px) {
  .footer {
    height: fit-content;
    flex-direction: column;

    .about {
      h4 {
        margin-bottom: 0;
      }
    }
    .newsletter {
      h4 {
        margin-bottom: 0;
      }
    }
    .help {
      h4 {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 475px) {
  .footer {
    gap: var(--margin-s);

    .about {
      h4 {
        font-size: var(--fs-big-ui);
      }

      p {
        font-size: var(--fs-small-ui);
      }

      .socials {
        margin-top: var(--margin-xxs);

        a {
          svg {
            font-size: var(--fs-h5-ui);
          }
        }
      }
    }

    .help {
      h4 {
        font-size: var(--fs-big-ui);
      }

      p {
        font-size: var(--fs-small-ui);
      }
    }

    .newsletter {
      h4 {
        font-size: var(--fs-big-ui);
      }

      p {
        font-size: var(--fs-small-ui);
      }

      form {
        input {
          font-size: var(--fs-small-ui);

          &::placeholder {
            font-size: var(--fs-small-ui);
          }
        }

        button {
          p {
            font-size: var(--fs-small-ui);
          }
        }
      }
    }
  }
}
