.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(19rem, 95vw, 62rem);
  margin: auto;
  padding-block: clamp(var(--margin-m), 5vw, var(--margin-xxl));
}
.order .orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
}
.order .orderHeader h4 {
  font-size: clamp(var(--fs-big), 2.5vw, var(--fs-h4));
}
.order .orderHeader button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 0.5px solid var(--grey70);
  padding: var(--margin-xxs) var(--margin-xs);
  background-color: var(--white);
  height: 100%;
  margin-block: auto;
  cursor: pointer;
}
.order .orderHeader button p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: clamp(var(--fs-small), 2vw, var(--fs-big));
  height: 100%;
  color: var(--grey30);
}
.order .orderHeader button p:hover {
  color: var(--grey10);
}
.order .orderHeader button svg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: clamp(var(--fs-big), 3vw, var(--fs-h4));
  padding-left: var(--margin-xxs);
  margin: none;
  height: 100%;
  color: var(--grey30);
}
.order .orderSubHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: clamp(var(--margin-xxs), 2vw, var(--margin-xs));
  border-bottom: 1px solid var(--grey70);
  gap: clamp(var(--margin-m), 3vw, var(--margin-xxl));
}
.order .orderSubHeader p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
}
.order .orderItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: clamp(var(--margin-xxs), 3vw, var(--margin-s));
  padding-bottom: clamp(var(--margin-xxs), 3vw, var(--margin-s));
  border-bottom: 1px solid var(--grey70);
  gap: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
}
.order .orderPaymentAndDelivery {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-block: clamp(var(--margin-xxs), 3vw, var(--margin-s));
}
.order .orderPaymentAndDelivery .payment {
  width: 50%;
  height: 100%;
}
.order .orderPaymentAndDelivery .payment big {
  font-weight: 600;
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
}
.order .orderPaymentAndDelivery .payment div p {
  font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
}
.order .orderPaymentAndDelivery .delivery {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.order .orderPaymentAndDelivery .delivery big {
  font-weight: 600;
  font-size: clamp(var(--fs-small), 3vw, var(--fs-big));
}
.order .orderPaymentAndDelivery .delivery p {
  color: var(--text-color);
  font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
}
.order .helpAndSummary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-block: clamp(var(--margin-xxs), 3vw, var(--margin-s));
}
.order .helpAndSummary .orderHelp {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.order .helpAndSummary .orderHelp big {
  font-weight: 600;
  font-size: clamp(var(--fs-small), 3vw, var(--fs-big));
}
.order .helpAndSummary .orderHelp button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: var(--margin-xxs);
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--grey30);
}
.order .helpAndSummary .orderHelp button p {
  font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
}
.order .helpAndSummary .orderHelp button svg {
  font-size: clamp(var(--fs-big), 4vw, var(--fs-h5));
  margin-right: var(--margin-xxs);
  color: var(--grey50);
  transition: var(--transition-out);
}
.order .helpAndSummary .orderHelp button:hover svg {
  transition: var(--transition-in);
  color: var(--grey30);
}
.order .helpAndSummary .orderSummary {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  flex-direction: column;
}
.order .helpAndSummary .orderSummary big {
  font-weight: 600;
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
}
.order .helpAndSummary .orderSummary .orderSubTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.order .helpAndSummary .orderSummary .orderSubTotal p {
  font-weight: 400;
  font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
}
.order .helpAndSummary .orderSummary .orderDiscount {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.order .helpAndSummary .orderSummary .orderDiscount p {
  font-weight: 400;
  font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
}
.order .helpAndSummary .orderSummary .deliveryCharges {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.order .helpAndSummary .orderSummary .deliveryCharges p {
  font-weight: 400;
  font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
}
.order .helpAndSummary .orderSummary .orderTotal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: var(--margin-xxs);
  margin-bottom: 0rem;
}
.order .helpAndSummary .orderSummary .orderTotal big {
  font-weight: 600;
  font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
}

@media (max-width: 640px) {
  .order .orderHeader {
    margin-bottom: var(--margin-xs);
  }
  .order .orderSubHeader {
    justify-content: space-between;
  }
  .order .orderPaymentAndDelivery {
    flex-direction: column;
  }
  .order .orderPaymentAndDelivery .payment {
    width: 100%;
    padding-bottom: clamp(var(--margin-xxs), 3vw, var(--margin-s));
    border-bottom: 1px solid var(--grey70);
  }
  .order .orderPaymentAndDelivery .delivery {
    width: 100%;
    padding-block: clamp(var(--margin-xxs), 3vw, var(--margin-s));
    border-bottom: 1px solid var(--grey70);
  }
  .order .helpAndSummary {
    margin: 0;
    flex-direction: column-reverse;
  }
  .order .helpAndSummary .orderSummary {
    width: 100%;
    padding-bottom: clamp(var(--margin-xxs), 3vw, var(--margin-s));
    border-bottom: 1px solid var(--grey70);
  }
  .order .helpAndSummary .orderHelp {
    width: 100%;
    padding-block: clamp(var(--margin-xxs), 3vw, var(--margin-s));
  }
}/*# sourceMappingURL=order.css.map */