.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: clamp(19rem, 95vw, 60rem);

  margin: auto;

  padding-block: clamp(var(--margin-m), 5vw, var(--margin-xxl));

  .orderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    height: fit-content;
    flex-wrap: wrap;

    h4 {
      font-size: clamp(var(--fs-h5), 3vw, var(--fs-h4));
      word-break: break-all;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;

      flex-direction: row;

      border: 0.5px solid var(--grey60);

      padding: var(--margin-xxs) var(--margin-xs);

      background-color: var(--white);

      height: 100%;

      margin-block: auto;

      cursor: pointer;

      p {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;
        font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
        height: 100%;

        font-weight: 500;

        color: var(--grey30);

        &:hover {
          color: var(--grey10);
        }
      }

      svg {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: row;
        font-size: clamp(var(--fs-big), 3vw, var(--fs-h4));
        padding-left: var(--margin-xxs);

        margin: none;
        height: 100%;

        color: var(--grey30);
      }
    }
  }

  .orderSubHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    padding-bottom: var(--margin-xxs);

    border-bottom: 1px solid var(--grey70);

    gap: clamp(var(--margin-m), 5vw, var(--margin-xxl));

    p {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: clamp(var(--fs-small), 2vw, var(--fs-p));
    }
  }

  .orderItems {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 100%;

    margin-top: clamp(var(--margin-xxs), 3vw, var(--margin-s));
    padding-bottom: clamp(var(--margin-xxs), 3vw, var(--margin-s));

    border-bottom: 1px solid var(--grey70);

    gap: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
  }

  .orderPaymentAndDelivery {
    display: flex;
    justify-content: space-between;
    width: 100%;

    height: fit-content;

    margin-block: var(--margin-s);

    .payment {
      width: 50%;
      height: 100%;

      big {
        font-weight: 600;
        font-size: var(--fs-p);
      }

      div {
        p {
          font-size: var(--fs-p);
        }
      }
    }

    .delivery {
      display: flex;
      justify-content: flex-start;

      flex-direction: column;

      width: 50%;
      height: 100%;

      big {
        font-weight: 600;
        font-size: var(--fs-p);
      }

      p {
        color: var(--text-color);
        font-size: var(--fs-p);
      }
    }
  }

  .helpAndSummary {
    display: flex;
    justify-content: space-between;

    width: 100%;

    height: fit-content;

    margin-block: clamp(var(--margin-xxs), 3vw, var(--margin-s));

    .orderHelp {
      display: flex;
      justify-content: flex-start;

      width: 50%;
      height: 100%;

      flex-direction: column;

      big {
        // margin-bottom: var(--margin-xxs);
        font-weight: 600;
        font-size: var(--fs-p);
      }

      button {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: fit-content;

        // padding: 0rem var(--margin-xxs);

        margin-bottom: var(--margin-xxs);

        border: none;
        background-color: transparent;

        cursor: pointer;
        // color: var(--grey30);

        p {
          font-size: var(--fs-p);
        }

        svg {
          font-size: var(--fs-big);

          width: var(--fs-big);

          margin-right: var(--margin-xxs);
          color: var(--grey30);
          transition: var(--transition-out);
        }

        &:hover {
          svg {
            transition: var(--transition-in);
            color: var(--grey30);
          }
        }
      }
    }

    .orderSummary {
      display: flex;
      justify-content: flex-start;

      width: 50%;
      height: 100%;

      flex-direction: column;

      big {
        // margin-bottom: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
        font-weight: 600;
        font-size: var(--fs-p);
      }

      .orderSubTotal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // margin-bottom: var(--margin-xxs);

        p {
          font-weight: 400;
          font-size: var(--fs-p);
        }
      }

      .orderDiscount {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // margin-bottom: var(--margin-xxs);

        p {
          font-weight: 400;
          font-size: var(--fs-p);
        }
      }

      .deliveryCharges {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // margin-bottom: var(--margin-xxs);

        p {
          font-weight: 400;
          font-size: var(--fs-p);
        }
      }

      .orderTotal {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: var(--margin-xxs);
        margin-bottom: 0rem;

        big {
          font-weight: 600;
          font-size: var(--fs-big-ui);
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .order {
    .orderItems {
    }

    .orderHeader {
      margin-bottom: var(--margin-xs);
    }

    .orderSubHeader {
      justify-content: space-between;
    }

    .orderPaymentAndDelivery {
      flex-direction: column;

      .payment {
        width: 100%;

        padding-bottom: var(--margin-xs);
        border-bottom: 1px solid var(--grey70);
      }

      .delivery {
        width: 100%;
        padding-block: var(--margin-xs);
        border-bottom: 1px solid var(--grey70);
      }
    }

    .helpAndSummary {
      margin: 0;
      flex-direction: column-reverse;

      .orderSummary {
        width: 100%;
        padding-bottom: var(--margin-xs);
        border-bottom: 1px solid var(--grey70);
      }

      .orderHelp {
        width: 100%;
        padding-block: var(--margin-xs);

        big {
          margin-bottom: var(--margin-xxs);
        }
      }
    }
  }
}
