.toast-container {
  position: fixed; /* Changed from sticky to fixed */
  top: 40vh;
  right: 50%;
  transform: translateX(50%);
  z-index: 9999; /* Ensure it's on top of most elements */
  display: flex;
  flex-direction: column;
  gap: var(--margin-m); /* Space between multiple toasts */
}

.toast-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9998; /* One level below the toast notification */
  opacity: 0; /* Start fully transparent */
  animation: fadeInOutOverlay 3s ease-in-out; /* Combined fade in and out */
}

.toastNotification {
  // position: fixed;

  background-color: var(--white);

  padding-block: clamp(var(--margin-xs), 5vw, var(--margin-m));
  padding-inline: clamp(var(--margin-m), 5vw, var(--margin-l));

  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px var(--grey10);

  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slideIn 0.3s ease-in, slideOut 0.3s ease-out 2.7s forwards; /* Sync slide in/out */

  font-family: var(--ff);

  opacity: 0.9;
  max-width: 300px;
  word-wrap: break-word; /* Ensures long messages are wrapped */

  gap: clamp(var(--margin-xxs), 3vw, var(--margin-s));

  p {
    font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
  }

  .closeBtnToast {
    border: none;
    background-color: transparent;

    height: 100%;
    display: flex;

    padding-bottom: auto;

    cursor: pointer;

    svg {
      font-size: clamp(var(--fs-h5), 5vw, var(--fs-h3));
      color: var(--black);
    }
  }

  &.success {
    border: 3px solid var(--green);
    color: var(--green);

    .closeBtnToast {
      border: none;
      background-color: transparent;
      display: flex;
      height: 100%;

      svg {
        color: var(--text-color);
      }
    }
  }

  &.error {
    border: 3px solid var(--red);
    color: var(--red);

    .closeBtnToast {
      border: none;
      background-color: transparent;
      display: flex;
      height: 100%;

      svg {
        color: var(--black);
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0; /* Start fully transparent */
  }
  to {
    transform: translateY(0);
    opacity: 1; /* End fully opaque */
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1; /* Start fully opaque */
  }
  to {
    transform: translateY(100%);
    opacity: 0; /* End fully transparent */
  }
}

@keyframes fadeOverlayIn {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* Fully opaque at the end of the animation */
  }
}

@keyframes fadeOverlayOut {
  from {
    opacity: 1; /* Start fully opaque */
  }
  to {
    opacity: 0; /* Fully transparent at the end of the animation */
  }
}

@keyframes fadeInOutOverlay {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
