// .toast-container {
//   position: fixed;
//   top: 50%;
//   right: 50%;
//   transform: translateX(50%) translateY(-50%);
//   z-index: 9999;
//   display: flex;
//   flex-direction: column;
//   gap: var(--margin-m);
// }

.toastNotification {
  --border-w: 2px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  z-index: 9999;

  background-color: var(--white);
  padding-block: clamp(var(--margin-xs), 5vw, var(--margin-m));
  padding-inline: clamp(var(--margin-m), 5vw, var(--margin-l));
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px var(--grey10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff);

  // max-width: 300px;
  word-wrap: break-word;
  gap: clamp(var(--margin-xxs), 3vw, var(--margin-s));

  opacity: 0;
  animation: 0.25s ease-in fadeIn forwards;

  p {
    font-size: clamp(var(--fs-small-ui), 2.5vw, var(--fs-p));
    font-weight: 500;
    margin-right: var(--margin-m);
  }

  .closeBtnToast {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;

    position: absolute;
    right: calc(var(--margin-xxs));
    top: calc(var(--margin-xxs));

    svg {
      font-size: clamp(var(--fs-big), 5vw, var(--fs-h4));
    }
  }

  // Notification Types
  &.success {
    border: var(--border-w) solid var(--success-text);
    color: var(--success-text);
    background-color: var(--success-background);
    .closeBtnToast svg {
      color: var(--success-text);
    }
  }

  &.error {
    border: var(--border-w) solid var(--error-text);
    color: var(--error-text);
    background-color: var(--error-background);
    .closeBtnToast svg {
      color: var(--error-text);
    }
  }

  &.warning {
    border: var(--border-w) solid var(--warning-text);
    color: var(--warning-text);
    background-color: var(--warning-background);
    .closeBtnToast svg {
      color: var(--warning-text);
    }
  }

  &.info {
    border: var(--border-w) solid var(--info-text);
    color: var(--info-text);
    background-color: var(--info-background);
    .closeBtnToast svg {
      color: var(--info-text);
    }
  }
}

.toastNotification-modal {
  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;

  background-color: hsla(0, 0, 0, 0.6);

  opacity: 0;
  animation: 0.25s ease fadeIn forwards;
}

// Animations for slide in/out and fade overlay
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
