.addressCheckout.shippingPage {
  width: 100%;

  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;

  flex-wrap: wrap;

  padding-block: clamp(var(--margin-xxs), 2.5vw, var(--margin-xs));
  padding-inline: clamp(var(--margin-xs), 3vw, var(--margin-m));

  margin-block: var(--margin-xxs);
  transition: var(--transition-out);

  background-color: var(--grey90);
  border: 1px solid var(--grey90);

  cursor: pointer;

  &.selected {
    border: 1px solid var(--grey80);

    background-color: var(--grey85);

    transition: var(--transition-in);
  }

  &:hover {
    border: 1px solid var(--grey80);

    background-color: var(--grey85);

    transition: var(--transition-in);
  }

  p {
    font-size: var(--fs-p);
  }
}

.addressCheckout.reviewPage {
  width: 100% !important;

  display: flex !important;
  justify-content: flex-start !important;
  // align-items: center !important;
  flex-direction: row !important;

  flex-wrap: wrap;

  column-gap: var(--margin-xxs);

  height: 100%;

  // padding: var(--margin-xxs);

  // margin: var(--margin-xxs) 0rem;
  transition: var(--transition-out);

  p {
    font: var(--p);
  }
}

@media (max-width: 475px) {
  .addressCheckout.reviewPage {
  }

  .addressCheckout.shippingPage {
    padding: var(--margin-xs);
  }
}
