.addressCheckout.shippingPage {
  width: 100%;

  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: column;

  flex-wrap: wrap;

  padding: var(--margin-s);

  border: 0.5px solid var(--grey90);

  margin: var(--margin-xxs) 0rem;
  transition: var(--transition-out);

  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-hover);

  cursor: pointer;

  &.selected {
    border: 1px solid var(--shadow-secondary);

    background-color: var(--secondary-hover);

    transition: var(--transition-in);
  }

  &:hover {
    border: 1px solid var(--shadow-secondary);

    background-color: var(--secondary-hover);

    transition: var(--transition-in);
  }

  p {
    font: var(--pui);
  }
}

.addressCheckout.reviewPage {
  width: 100% !important;

  display: flex !important;
  justify-content: flex-start !important;
  // align-items: center !important;
  flex-direction: row !important;

  flex-wrap: wrap;

  column-gap: var(--margin-xxs);

  height: 100%;

  // padding: var(--margin-xxs);

  // margin: var(--margin-xxs) 0rem;
  transition: var(--transition-out);

  p {
    font: var(--p);
  }
}
