.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: auto;

  padding-bottom: clamp(var(--margin-m), 5vw, var(--margin-xxl));

  height: fit-content;

  background-color: var(--primary-color);

  .checkoutProgressBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width: clamp(19rem, 95vw, 30rem);

    padding-block: clamp(var(--margin-xs), 3vw, var(--margin-m));
    padding-top: clamp(var(--margin-s), 3vw, var(--margin-l));

    margin-bottom: clamp(var(--margin-xs), 3vw, var(--margin-m));

    border-bottom: 1px solid var(--grey70);

    .dash-svg {
      color: var(--grey50);
      font-size: clamp(var(--fs-big), 3vw, var(--fs-h4));
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        font-size: clamp(var(--fs-small), 3vw, var(--fs-p));

        color: var(--grey30);

        font-weight: 400;

        transition: var(--transition-out);
      }

      svg {
        font-size: clamp(var(--fs-big), 3vw, var(--fs-h4));
        // margin-bottom: var(--margin-xxs);

        color: var(--grey50);

        transition: var(--transition-out);
      }
    }

    & .active {
      p {
        color: var(--text-color);
        font-weight: 600;

        font-size: clamp(var(--fs-p), 2vw, var(--fs-big));

        transition: var(--transition-in);
      }

      svg {
        font-size: clamp(var(--fs-h5), 2vw, var(--fs-h3));
        color: var(--text-color);

        transition: var(--transition-in);
      }
    }
  }

  .checkoutShipping {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: clamp(19rem, 95vw, 30rem);

    gap: clamp(var(--margin-xxs), 3vw, var(--margin-xs));

    .checkoutAddressSelect {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 100%;

      .checkoutAddressSelectHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        width: 100%;

        big {
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          font-weight: 600;
        }

        .linkBtn {
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p)) !important;
        }
      }

      .addressCheckout {
        width: 100%;
      }
    }

    .checkoutDeliveryEstimate {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 100%;

      big {
        width: 100%;
        font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
        font-weight: 600;
      }

      .standardDelivery {
        display: flex;

        align-items: center;
        flex-direction: row;

        gap: clamp(var(--margin-xs), 3vw, var(--margin-m));

        width: 100%;
        padding: clamp(var(--margin-xs), 3vw, var(--margin-s));

        border: 0.5px solid var(--shadow-secondary);
        background-color: var(--secondary-hover);

        svg {
          font-size: clamp(var(--fs-big), 3vw, var(--fs-h3));
          font-weight: 600;
          padding: auto 0rem;

          padding-left: var(--margin-xxs);

          width: auto;

          path {
            stroke-width: 1.5px;
          }
        }

        div {
          width: auto;

          big {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
            font-weight: 400;
          }

          p {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          }
        }
      }
    }
  }

  .checkoutPayment {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    width: clamp(19rem, 95vw, 30rem);

    gap: clamp(var(--margin-xxs), 3vw, var(--margin-xs));

    .checkoutPaymentMethod {
      display: flex;
      flex-direction: column;
      width: 100%;

      big {
        font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
        font-weight: 600;
      }

      .paymentMethods {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        width: 100%;

        gap: clamp(var(--margin-xs), 3vw, var(--margin-s));

        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;

          width: 50%;

          padding-block: clamp(var(--margin-xxs), 3vw, var(--margin-xs));
          padding-inline: clamp(var(--margin-xs), 3vw, var(--margin-s));

          border: 0.5px solid var(--secondary-hover);

          background-color: var(--secondary-color);
          transition: var(--transition-out);

          cursor: pointer;

          &:hover {
            border: 0.5px solid var(--shadow-secondary);
            transition: var(--transition--in);
            background-color: var(--secondary-hover);
          }

          &.selected {
            border: 0.5px solid var(--shadow-secondary);
            transition: var(--transition--in);
            background-color: var(--secondary-hover);
          }

          svg {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: auto;
            height: 100%;

            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
            margin-right: var(--margin-s);
          }

          p {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          }
        }
      }

      .cardInfoForm {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;

        margin-top: var(--margin-xs);

        padding: var(--margin-xxs);
        padding-bottom: var(--margin-xs);
        padding-inline: var(--margin-s);
        border: 1px solid var(--grey70);

        form {
          display: flex;
          justify-content: flex-start;
          // align-items: center;

          flex-direction: column;
          width: 100%;

          p {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
            font-weight: 600;
          }

          input {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
            font-weight: 400;
            margin-bottom: var(--margin-xxs);

            padding-left: var(--margin-xxs);
          }
        }
      }
    }

    .checkoutCouponCode {
      display: flex;

      flex-direction: column;

      margin-block: var(--margin-xxs);

      width: 100%;

      big {
        font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
        font-weight: 600;
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        // height: 35.59px;

        width: 100%;

        gap: var(--margin-xs);

        input {
          display: flex;
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));

          height: 100%;

          padding-left: var(--margin-xxs);
          width: 50%;

          border: 1px solid var(--grey70);

          border-radius: 0%;

          font-family: var(--ff);

          text-transform: uppercase;
          padding-block: var(--margin-xxs);
        }

        .btn {
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          font-weight: 400;

          padding-block: var(--margin-xxs);
          padding-inline: var(--margin-xs);
        }
      }
    }
  }

  .checkoutReview {
    width: clamp(19rem, 95vw, 30rem);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: var(--margin-xxs);

    .checkoutSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      width: 100%;
      gap: var(--margin-xxs);

      min-height: 4rem;

      .sectionTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 20%;
        height: 100%;

        margin-bottom: auto;

        p {
          display: flex;
          justify-content: center;

          height: 100%;
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          font-weight: 600;
        }
      }

      .sectionContent {
        width: 80%;
        height: 100%;
        font-size: clamp(var(--fs-small), 2.5vw, var(--fs-p));
        // padding: var(--margin-xxs);
        margin-bottom: auto;

        // margin: var(--margin-xxs) 0rem;
        p {
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
        }

        div {
          p {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          }
        }
      }
    }

    .checkoutItems {
      display: flex;
      justify-content: center;
      align-items: center;

      flex-direction: column;

      width: 100%;

      // margin-bottom: var(--margin-xxs);

      // div:nth-child(1) {
      //   display: flex;
      //   align-items: center;
      //   justify-content: space-between;
      //   height: fit-content;

      //   width: 100%;

      //   padding: var(--margin-xs) 0rem;

      //   h4 {
      //     font: var(--pui);
      //     font-weight: 500;
      //   }

      //   button {
      //     border: none;
      //     background-color: transparent;

      //     height: 100%;

      //     svg {
      //       font: var(--bigui);
      //     }
      //   }
      // }

      .checkoutItemsDropdownHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: fit-content;

        width: 100%;

        // padding-bottom: var(--margin-xs);

        p {
          font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
          font-weight: 600;
        }

        button {
          border: none;
          background-color: transparent;

          height: 100%;

          .checkoutItemArrow {
            font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
            transition: transform 0.3s ease;

            &.invert {
              // transition: var(--transition--in);
              transform: rotate(180deg);
            }
          }
        }
      }

      .checkoutItemsList {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        margin-bottom: var(--margin-xs);

        width: 100%;

        gap: 0.5rem;
        max-height: 0;

        overflow: hidden;

        transition: max-height 0.3s ease-in-out, padding 0.5s ease-in-out,
          border-top 0.3s ease-in-out;

        &.show {
          display: flex;
          max-height: 1000px;
          padding-top: var(--margin-xs);
          border-top: 1px solid var(--grey70);
        }
      }
    }
  }

  .checkoutSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    padding-top: var(--margin-xs);
    border-top: 1px solid var(--grey70);

    .checkoutSummarySection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      width: 100%;

      div {
        font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
      }

      &:nth-child(1) {
        font-weight: 600;
      }

      &:nth-child(4) {
        font-weight: 600;
      }
    }
  }

  .checkoutProgressBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: clamp(var(--margin-xs), 3vw, var(--margin-s));

    width: clamp(19rem, 95vw, 30rem);

    margin-block: clamp(var(--margin-xs), 3vw, var(--margin-s));

    .btn {
      display: flex;
      align-items: center;

      gap: var(--margin-xxs);

      padding-inline: clamp(var(--margin-xs), 3vw, var(--margin-m));
      padding-block: var(--margin-xxs);

      big {
        font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-big));
        height: 100%;
      }

      svg {
        font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-big));
        height: 100%;

        padding-bottom: 2px;
      }
    }
  }
}

@media (max-width: 640px) {
  .checkout {
    .checkoutReview {
      gap: var(--margin-s);

      .checkoutSection {
        min-height: fit-content;
      }
    }
  }
}
