.addProductForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-inline: auto;

  padding-block: clamp(var(--margin-m), 5vw, var(--margin-xl));

  width: fit-content;

  gap: clamp(var(--margin-xs), 5vw, var(--margin-m));

  div {
    width: clamp(19rem, 95vw, 40rem);
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    h1 {
      font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
    }

    input {
      // height: 2rem;
      font-size: clamp(var(--fs-small), 3vw, var(--fs-p));

      margin-top: var(--margin-xxs);

      border: 0.5px solid var(--grey50);

      padding-inline: var(--margin-xs);
      padding-block: var(--margin-xxs);

      width: 100%;
    }
  }

  h1 {
    font-size: clamp(var(--fs-p), 3vw, var(--fs-big));
  }

  input {
    // height: 2rem;
    font-size: clamp(var(--fs-small), 3vw, var(--fs-p));

    margin-top: var(--margin-xxs);

    border: 0.5px solid var(--grey50);

    padding-inline: var(--margin-xs);
    padding-block: var(--margin-xxs);

    width: 100%;
  }

  .quill {
    .ql-toolbar {
      display: block;
      border: 1px solid var(--grey50);
    }

    .ql-container {
      display: block;
      border: 1px solid var(--grey50);
    }
  }

  .addProductBtn {
    // height: 2rem;
    font-size: clamp(var(--fs-p), 4vw, var(--fs-big));

    border: 0.5px solid var(--accent-color);

    font-family: var(--ff);
    font-weight: 600;
    color: var(--white);

    padding-inline: clamp(var(--margin-m), 5vw, var(--margin-l));
    padding-block: var(--margin-xxs);

    background-color: var(--accent-color);

    transition: var(--transition-out);

    &:hover {
      background-color: var(--black);
      color: var(--white);

      border: 0.5px solid var(--black);
      transition: var(--transition-in);
    }
  }

  div:nth-child(5) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    gap: clamp(var(--margin-xs), 3vw, var(--margin-m));

    h1 {
      // width: 50%;
    }

    select {
      // height: 2rem;

      font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
      font-family: var(--ff);

      width: auto;

      padding-inline: var(--margin-xs);
      // padding-block: var(--margin-xxs);
    }
  }

  div:nth-child(4) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    gap: clamp(var(--margin-xs), 3vw, var(--margin-m));

    h1 {
      width: 50%;
    }

    select {
      // height: 2rem;

      font-size: clamp(var(--fs-small), 3vw, var(--fs-p));
      font-family: var(--ff);

      width: auto;

      padding-inline: var(--margin-xs);
      // padding-block: var(--margin-xxs);
    }
  }
}
